[2015-05-13 15:39] grumpydev commented on #1935
Can't see how this can be anything other than a Mono bug?

[2015-05-13 16:00] khellang commented on #1934
@matthewcanty That's because Nancy interprets `int` as a HTTP status code. See [the wiki](https://github.com/NancyFx/Nancy/wiki/Defining%20routes#action):

[2015-05-13 16:00] #1934 closed

[2015-05-13 16:47] matthewcanty commented on #1934
Thanks. I was just freaking out. Just a bad choice of type to test being returned I guess...

I wonder what 1 is telling the browser to do? My guess is it interprets it as 100 and just _continues_ to do nothing at all...

[2015-05-13 16:54] khellang commented on #1934
Just pull up Fiddler, Postman or even Chrome dev tools and check. There's nothing wrong with returning an empty HTTP response with status code 1 :smile:

[2015-05-15 11:07] intellismiths opened #1937 "JSON Merge Patch"
Include "application/merge-patch+json" as a valid content type for JSON model binder.
https://tools.ietf.org/html/rfc7386

[2015-05-15 16:47] mickaelandrieu commented on #1923
@grumpydev sadly, this bug remains in Windows environnement :/ (Xamarin studio, any web browser, any port used).

To resume: "/" => 404
"/anything-i-want-as-url" => 200

[2015-05-15 17:28] grumpydev commented on #1923
Still a bug in XSP though by the looks of it.

[2015-05-15 17:53] mickaelandrieu commented on #1923
how to fix it ?

I tried to use different versions of .NET availables on my PC, but the issue remains :(

[2015-05-20 23:49] jvandertil opened #1938 "DefaultModelBinder requires public default constructor"
The default model binder requires the existence of a public default constructor.
Is it possible to allow non public default constructors as well?

Root cause seems to be:
https://github.com/NancyFx/Nancy/blob/master/src/Nancy/ModelBinding/DefaultBinder.cs#L432
and
https://github.com/NancyFx/Nancy/blob/master/src/Nancy/ModelBinding/DefaultBinder.cs#L436

I can work on a pull request to fix this, bu

[2015-05-21 06:05] lijunle opened #1939 "BrowserContextExtensions should return BrowserContext for chaining"
Current:

[code]

Could be better:

[code]

[2015-05-21 06:58] grumpydev commented on #1939
The first one reads properly, the second one doesn't - first one reads "with this accept value and this json body",  second one reads "accept text plain and a json body" - that doesn't make sense.

[2015-05-21 06:58] #1939 closed

[2015-05-21 07:04] lijunle commented on #1939
I think that is only naming issue. That could be like this:

[code]

or

[code]

[2015-05-21 07:51] grumpydev commented on #1939
The first one is a syntax change for the sake of it, and also falls down when one of the extensions wants to return it's own builder type - the second one is just replacing "with" with "and", and is still less expressive imo.

Sorry, just don't see any value in this.

[2015-05-21 09:03] lijunle commented on #1939
The value here is keep the syntax same as (or at least similar with) [ResponseExtensions](https://github.com/NancyFx/Nancy/blob/master/src/Nancy/ResponseExtensions.cs).

[2015-05-21 17:55] lijunle opened #1940 "Are these (minor) typos?"
In [RoutingDescription](https://github.com/NancyFx/Nancy/blob/master/src/Nancy/Routing/RouteDescription.cs#L20-L28) class, there is some check in constructor:

[code]

Are those method variable typo? Should it be a string `"method"` and `"path"` accordingly?

[2015-05-21 18:07] khellang commented on #1940
Yes. Those are typos. Want to fix 'em? :smile:

[2015-05-21 23:38] awec opened #1942 "FluentValidation doesn't work on vnext"
Not sure what the policy is for reporting vnext bugs as it's currently not supported, but going to open this anyway. Maybe you want to create a label for vnext specific issues?

When trying to use FluentValidation with Nancy on vnext an error is thrown when calling BindAndValidate<T>:

'Nancy.Validation.ModelValidationException' occurred in Nancy.dll but was not handled in user code Additional inf

[2015-05-22 08:44] lijunle commented on #1940
@khellang could you please take a look on my PR #1941 ?

[2015-05-22 09:44] #1940 closed

[2015-05-25 20:33] awec commented on #1942
Ok, I've spent ages looking at this.

The problem is that when Nancy takes a cache of the loaded assemblies from AppDomain.Current during bootstrapping it doesn't contain Nancy.Validation.FluentValidation.dll (because it has had no reason to be loaded yet).

The DLL is eventually loaded after the TinyIOC Registrations occur.

However, AppDomainAssemblyTypeScanner will never load the correct types,

[2015-05-26 01:58] phillip-haydon commented on #1942
Ran into this issue last night with SimpleValidator :( but at 2am I didn't start looking for a solution.

[2015-05-26 09:09] awec commented on #1942
I have a PR that fixes it. Basically we need to call UpdateTypes() on the Assembly scanner after all the IOC registrations have happened.

Not sure it's the most efficient or best long term fix, but it works (as far as I can see).

[2015-05-26 09:10] grumpydev commented on #1942
It should load it as part of the scan that picks up assemblies that reference nancy - is that not working or are you saying it runs too late?

[2015-05-26 09:16] awec commented on #1942
That method works off file paths and the .Location property of the assembly. Assemblies in vnext are loaded into memory, so the .Location property is always an empty string.

So it doesn't find the dll we need.

[2015-05-26 09:46] #1942 closed

[2015-05-27 22:50] jvandertil commented on #1712
I can give a hand with the StructureMap bootstrapper :)

[2015-05-28 20:20] linvi opened #1947 "CORS and Custom Headers"
Hello,

First of all thank you so much for this great framework. I really appreciate the fact that the library is divided in multiple modules and that we can handle what the server does. This is way better than Microsoft WebAPI for sure.

Now concerning my problem. I am using Nancy to implement a REST API. This API should allow cross domain requests.
Everything is working fine with normal webreque

[2015-05-29 02:35] phillip-haydon commented on #1947
Interesting! Lots of informations!

[2015-05-29 08:27] linvi commented on #1947
Hi phillip,

Any idea what could be going wrong?
I don't know Nancy well enough to know how to retrieve ALL the WebRequests received by the server.

Thanks for looking into it.
Linvi

[2015-05-29 08:28] phillip-haydon commented on #1947
I'm still at work so I haven't looked into it yet. Just happy you gave a lot of information. I'll take a closer look this weekend to see if I can reproduce and figure out whats going on.

[2015-05-29 08:59] xt0rted commented on #1947
[This stack overflow answer](http://stackoverflow.com/a/29322285/39605) looks like it might be what you need.

[2015-05-29 09:03] linvi commented on #1947
Hi,

Thanks for your answer.

I already looked at this post (and tried it). The problem here is that the WebRequest is never handled by Nancy. This code is never invoked and yet Nancy returns a status code of 200 without the additional headers that this solution or mine try to add.

Cheers,
Linvi

[2015-05-30 17:15] lijunle opened #1948 "How to handle render view exception to DefaultStatusCodeHandler"
I am implementing a view engine. Inside the `RenderView` method, it might throw an exception. And I want to use the [DefaultStatusCodeHandler](https://github.com/NancyFx/Nancy/blob/master/src/Nancy/ErrorHandling/DefaultStatusCodeHandler.cs) to handle my exception.

---

I think there are two ways to throw the exception

**First way** is to throw inside `RenderView` method

[code]

In this case, th

[2015-05-30 17:17] lijunle commented on #1948
I found that the DefaultStatusCodeHandler actually get the exception from the `context.Item[NancyEngine.ERROR_KEY]`, but I don't find any code setting this value.

[2015-05-30 18:40] lijunle commented on #1948
I found several issues when making deeper debugging.

1. There is an extension to get Exception message from NancyEngine.ERROR_KEY but not set it. So I access it directly.

*Proposal*: besides get extension, add one set extension.

[code]

After this changes, the DefaultStatusCodeHandler works and showing **Error details are currently disabled. Please set `StaticConfiguration.DisableErrorTraces =

[2015-05-30 19:08] lijunle commented on #1948
/cc @grumpydev I saw you add MaterialisingResponse class in this PR #1504 . But I don't see any the pros from it. How do you think about this?

Besides, I think the Razor view engine encountered some similar issues too (#1316, #1397).

[2015-06-01 09:30] linvi commented on #1947
Hi here,

Any luck with identifying what could be going wrong with this issue?

Cheers,
Linvi

[2015-06-01 09:47] phillip-haydon commented on #1947
My flatmate has my old laptop and I can't buy my new one because apple has no stock. :( so I'm waiting for him to get home so I can steal the laptop for an hour.

Sent by Outlook for Android

From: linvi

Sent: Monday 1 June 5:30 pm

Subject: Re: [Nancy] CORS and Custom Headers (#1947)

To: NancyFx/Nancy

Cc: Phillip Haydon

Hi here,

Any luck with identifying what could be going wrong with this i

[2015-06-02 03:47] todd-bowles-onthehouse opened #1949 "OnError not picking up errors during Request Container Configuration"
I have a standard error handler in my pipeline which logs the exception that occurred (and returns an appropriate payload).

However, we discovered today when we accidentally broke the ConfigureRequestContainer method (it was throwing an exception due to some missing dependencies) that the error handler was not being executed and we had no logging, even though the service was not working.

Is this

[2015-06-02 11:12] khellang commented on #1949
This is expected behavior. The `ConfigureRequestContainer` et al. are actually invoked in order to setup the `OnError` pipelines etc, so until it's completed, there is no pipeline. `OnError` is really only for modules and their different pipelines, not the setup of the framework itself, those exceptions will bubble up to the host. If you really want to make sure you log everything (which I strongl

[2015-06-02 12:01] hmemcpy opened #1950 "Debugger-friendly Context"
Right now, when exploring the Context object under the debugger, it doesn't immediately show much information:
![image](https://cloud.githubusercontent.com/assets/601206/7935249/160c3648-0938-11e5-9d6f-466c4d2cc992.png)

I propose adding various `[DebuggerDisplay]` annotations on core Nancy classes, so they can expose useful information immediately, without having to drill down.
Does that sound li

[2015-06-02 18:23] khellang commented on #1950
Absolutely! Want to pitch a suggestion?

[2015-06-02 23:18] todd-bowles-onthehouse commented on #1949
Thank you for the explanation, at least now I know its expected behavior.

Being that we are hosting in ASP.NET, would that be the error handler in the global.asax file? Or is there another mechanism that I'm unaware of?

[2015-06-03 01:40] phillip-haydon commented on #1947
Sorry @linvi, I just don't have a laptop at the moment with OSX to test on :(

I am stealing it for the weekend tho because I'll be traveling to Thailand so I'll try reproduce then.

[2015-06-03 08:29] linvi commented on #1947
Hi,

No worries, but just to be clarify, I am not reproducing this issue on OSX, I have this issue on Windows 8.1.

Cheers

[2015-06-03 08:33] phillip-haydon commented on #1947
Ahhh I've confused this with another bug I'm trying to reproduce with Xamarin on OSX.

SORRY!

I'll try and look at this tonight then.

[2015-06-04 15:58] linvi commented on #1947
Any luck?

[2015-06-05 02:46] phillip-haydon commented on #1947
I haven't been able to reproduce it yet. Still trying. I only got to spend an hour on it last night.

[2015-06-05 19:42] lijunle opened #1951 "Accept dash sign in routing segment default value."
From `IsParameterized` extension method [source code](https://github.com/NancyFx/Nancy/blob/v1.2.0/src/Nancy/Extensions/StringExtensions.cs#L22), it accept `[A-Za-z0-9_]` as default value. But I think it should accept dash (`-`) too.

Basically, change the regex to the following should resolve this

[code]

[2015-06-06 13:48] pwhe23 commented on #1891
I just started looking into Nancy myself and ran into this just now. Any help?

[2015-06-07 12:52] tparnell8 opened #1953 "Builds do not run bundle"
I noticed that the builds on travis run `gem install albacore`, `gem install otherGems` instead you should run `bundle` this ensures that the gemfile is always correct, and if someone alters the bundle file as part of their PR, the requested gem(s) are pulled down as part of the build.

[2015-06-07 12:58] tparnell8 commented on #1953
you will of course still have to `gem install bundle`

[2015-06-07 19:51] ravensorb opened #1954 "Feature Request: Enchance IUserIdentity"
Any thought to including a basic Dictionary to the IUserIdentity to allow providers to include a little extra detail if they want.  For example, it would be nice to be able to have a place to store an internal userID, lastLogon, or the users email address.

I know that I can do this when I implement my own IUserIdentity -- the issue is I need to cast from IUserIdentity to my custom implementation

[2015-06-07 19:52] bluebaroncanada opened #1955 "Subfolders skew Content path"
If I put a view in a sub folder, I can't access the /Content directory.
i.e. <script src="~/Content/...

[2015-06-07 20:38] bluebaroncanada commented on #1125
This helped me out in an unexpected way.  I had launched my instance with a new DefaultBootstrapper.  Changed it to new Bootstrapper().  Took me a while to figure out what was going on because the error kept telling me to override the method and I was like "I have."  and it was like "NO YOU HAVEN'T." and in the end I was like "Okay, you're sorta right."

Putting the error here so people can search

[2015-06-08 09:52] khellang commented on #1891
It looks like it's the `DefaultNancyBootstrapper`'s auto-registration that's causing this. Try using a custom bootstrapper by deriving from `DefaultNancyBootstrapper` and overriding `ConfigureApplicationContainer` without calling the `base` method.

[2015-06-08 10:01] linvi commented on #1947
Hi, Thanks for taking the time to look into it. Do you want me to create a repro project?

[2015-06-08 10:24] phillip-haydon commented on #1947
It you could that would be great. Sorry I am in Thailand.

Sent by Outlook for Android

On Mon, Jun 8, 2015 at 3:01 AM -0700, "linvi" <notifications@github.com> wrote:

Hi, Thanks for taking the time to look into it. Do you want me to create a repro project?

—
Reply to this email directly or view it on GitHub.

[2015-06-08 19:16] alanedwardes commented on #1638
I am also seeing this. As there aren't any responses to this I'm guessing it is the desired behavior, and module code should be written expecting to unwrap the exceptions?

Thanks.

[2015-06-09 21:16] jbackroads opened #1958 "Compile Error When Converting Sample Code to VB"
Hello,

My VB.NET web application uses Plivo to send out SMS messages. I am following their example in order to send an auto-reply to any inbound SMS message received by my Plivo numbers.

Their sample code was in C#, which I converted to VB. All is well except for the DirectCast shown here:

    Dim output = resp.ToString()
    Dim res = DirectCast(output, Nancy.Response)

(complete code is inclu

[2015-06-09 21:46] xt0rted commented on #1958
[Nancy.FormatterExtensions](https://github.com/NancyFx/Nancy/blob/188bc90450b10d263495d0a33c4cec98a1903937/src/Nancy/FormatterExtensions.cs#L26) has an extension method that will create a response object with your string value so you don't need the cast. There's also one that will return an object as xml using the built-in serializer.
[code]

[2015-06-10 09:58] jchannon opened #1959 "Making Nancy run on .NET Core"
Obviously we want to make Nancy run on .NET Core so we'll use this issue as the parent issue.

- [ ] Restructure repository to aid project.json port (#2154)
- [ ] Convert production projects to project.json (#2155)
- [ ] Convert demo projects to project.json
- [ ] Convert test projects to project.json (this possibly involves upgrading xUnit to 2.1)
- [ ] Add `dotnet5.3` (`netstandard1.2`) targets

[2015-06-10 10:09] awec commented on #1959
[] Get Nancy compiling on dnx core (removing anything that causes build break for now)

[2015-06-10 10:09] awec commented on #1959
- [ ] Get Nancy compiling on dnx core (removing anything that causes build break for now)

[2015-06-10 21:25] jbackroads commented on #1958
Thank you!

I'll be able to try that tomorrow and will update the issue on GitHub at that time.

Julie

-----Original Message-----
From: "Brian Surowiec" <notifications@github.com>
Sent: Tuesday, June 9, 2015 4:46pm
To: "NancyFx/Nancy" <Nancy@noreply.github.com>
Cc: "jbackroads" <info@iforgeahead.com>
Subject: Re: [Nancy] Compile Error When Converting Sample Code to VB (#1958)

[ Nancy.FormatterEx

[2015-06-12 23:13] webcoyote opened #1960 "C# object functions (ToString, Finalize) incorrectly show up in diagnostic interface"
Upgrading to Nancy 1.0 (from 0.23) caues diagnostics providers to include functions like ToString, MemberwiseClone, Equals, GetHashCode, GetType and Finalize. In short, all of the basic functions in C# object. It seems like it would be a good idea to filter out those functions before so they don't get shown in the diagnostic interface.

BindingFlags.DeclaredOnly changed to BindingFlags.FlattenHier

[2015-06-14 07:13] frndxyz opened #1961 "get instance from cache before creating new one with key."

[2015-06-14 08:21] lijunle commented on #775
With the `JavaScriptPrimitiveConverter` class, it is easier to do the same thing.

[code]

Then, in `ApplicationStartup` hook, add:

[code]

[2015-06-14 08:22] frndxyz opened #1962 "unregister type functions needed.."

[2015-06-14 19:52] khellang commented on #1962
What does this even mean?

[2015-06-14 19:52] #1962 closed

[2015-06-14 19:53] khellang commented on #1961
I have no idea what this means. A description would be nice.

[2015-06-14 19:53] #1961 closed

[2015-06-16 02:07] frndxyz opened #1963 "how to remove/Dispose instance from TinyIOC cointainer in nancy self hosting"
i am using nancy self hosting. there i created some classes that resolved by passing different parameters. how can i find those classes using params and dispose it at runtime without terminate console app.

[2015-06-16 02:10] phillip-haydon commented on #1963
They should get disposed of automatically because they are transient. They would dispose when they lose their scope (the module)

[2015-06-16 02:16] frndxyz commented on #1963
i am not taking about instance that are using by webservers. but instances are created in console app that alive until app terminate. i want to forcefully dispose/remove them from container.

[2015-06-16 02:24] phillip-haydon commented on #1963
Its the same....

[2015-06-16 02:29] frndxyz commented on #1963
can you give me a example, i dont actually understand..

[2015-06-16 07:35] pashute commented on #1528
similar issue when I set two projects, and hand in a HostConfiguration with UrlReservations.CreateAutomatically = true in both, and two different uris, localhost:3579 and localhost:3580.  The first project succeeds the second one - identical except uri, fails.

            var uri =
                new Uri("http://localhost:3579");
            var uris = new[] {uri};
            var hostConfig = n

[2015-06-16 19:45] horsdal commented on #1963
@frndxyz I think it is the other way around, tbh. You need to provide some sample code and explain what isn't working for you. There is just not enough to go on here.

[2015-06-16 19:59] horsdal commented on #1638
That does seem inconsistent. Do you want to send PR for unwrapping in the module error pipeline?

[2015-06-16 20:14] #1938 closed

[2015-06-16 20:15] khellang commented on #1938
Landed with #1946

[2015-06-16 20:26] horsdal commented on #1954
The user and identity stuff has gotten an overhaul for upcoming 2.0, where it uses `ClaimsPrincipal` and friends. You can see the 2.0 code in the v2 branch (https://github.com/NancyFx/Nancy/tree/v2) and the claims code in particular in PR #1820
Maybe that will help you (once 2.0 is out, that is)?

[2015-06-17 02:55] frndxyz commented on #1963
@horsdal ok this is an sample..

 _applicationContext.Container.Register<IPool, Pool>().AsMultiInstance(); register this

resolving instance using this function call with params. i have this type of multiple instance with diffrent params and also inside this class instance there are some other dependency resolving that same way.   this function is inside "objectfactory" class.
 public IPool GetPoo

[2015-06-17 04:04] phillip-haydon commented on #1963
Either implement `IDisposable` and wrap your `GetPool` in a using statement so its disposed of when its done, or let Nancy dispose of it.

If its a transient object, a new object is created on every call, and the objects will be disposed of when they lose their scope. When the Module is disposed of after a request has been completed, it will dispose of your object too. Unless you register it as a

[2015-06-18 08:59] #1960 closed

[2015-06-18 13:17] kspeakman commented on #1767
I'm having this exact error. In my case, I'm using embedded RavenDB in integration tests and then quite separately have some unit tests against Nancy services, all using MSTest. There are no test projects which use both Nancy and RavenDB. The error only occurs during the TFS build process when the tests are run, which results in all Nancy tests failing with the exact error given in the OP. The sam

[2015-06-19 10:47] awec commented on #1959
I ran Nancy.dll through the portability analyzer, I've uploaded the spreadsheet here:

http://1drv.ms/1IokAgu

Lists all the references that are not supported in aspnet5 and an alternative in some cases. Most of the System.Type ones are for TinyIOC which we can ignore as there is already a coreclr version of that available.

[2015-06-19 10:52] phillip-haydon commented on #1959
@awec file doesn't exist YO!

[2015-06-21 18:55] devkhan opened #1965 "Question: Difference between application and module pipelines?"
I have seen in the documentation, sometimes these two are referred distinctively. And also is there a difference in the Before/After hooks of these two pipelines?

[2015-06-22 07:47] khellang commented on #1965
Hey @devkhan! The [module-](https://github.com/NancyFx/Nancy/wiki/The-before-and-after-module-hooks) and [application pipelines](https://github.com/NancyFx/Nancy/wiki/The-Application-Before%2C-After-and-OnError-pipelines) are explained in detail in the wiki.

It's basically hooks which are executed before and after route execution on a global (application pipelines) and per-module basis. Here's an

[2015-06-22 07:48] #1965 closed

[2015-06-22 08:07] devkhan commented on #1965
Thanks. I will also post this as an answer wiki on StackOverflow. :bow:

[2015-06-22 08:40] khellang commented on #1965
If you don't mind, I'd like to answer it myself :wink:

[2015-06-22 08:43] devkhan commented on #1965
Okay, you can answer and I will remove mine and mark yours as accepted.

[2015-06-22 20:28] jbattermann opened #1966 "Nancy.Testing.Browser / System.Uri throws InvalidOperationException for Relative Uris"
I just stumbled upon a bit unexpected behaviour in Nancy's (.Testing) Browser:

When making calls on a Browser instance with relative string locations, i.e. "/users" everything works fine and as expected, however passing in a System.Uri with UriKind.Relative throws an InvalidOperationException.

Basically the problem is this:

[code]

The problem seems to originate from https://github.com/NancyFx/

[2015-06-23 07:37] khellang commented on #1966
Are you sure that's where it originates from? Do you have a stack trace? Those properties are not accessed from `System.Uri`, but on [`Nancy.Url`](https://github.com/NancyFx/Nancy/blob/6775d18fc5fa71a191ae80ef154594d210399f45/src/Nancy/Url.cs), and those should've been populated in the constructor [further up](https://github.com/NancyFx/Nancy/blob/6775d18fc5fa71a191ae80ef154594d210399f45/src/Nancy

[2015-06-23 07:52] khellang commented on #1966
OK, I see what's going on here; the method take a `Nancy.Url`, which has an implicit conversion to `System.Uri` and that's [where the exception happens](https://github.com/NancyFx/Nancy/blob/6775d18fc5fa71a191ae80ef154594d210399f45/src/Nancy/Url.cs#L194-L204). Maybe there should be a check for a relative URL in there...

[2015-06-23 08:14] khellang commented on #1966
I think I have a fix; #1967

[2015-06-23 08:14] jbattermann commented on #1966
Hah, that was fast! :) Yeah sorry for the initial, slighly misleading info.. the stack trace here is/was particularly short and reading 'implicit' now makes sense and that's where it happened, yes:

[code]

Sorry for the confusion but thanks a lot for fixing it so quickly.. WHILE I AM TYPING THIS! ;)

[2015-06-23 08:57] #1966 closed

[2015-06-23 12:36] #1881 closed

[2015-06-23 14:21] sloncho commented on #1638
I'm working on it, and just posted on Jabbr:
just wondering which route to take
looking at the code, the change need to happen in DefaultRequestDispatcher, and flattent the exception there
to avoid duplicated code, is it ok to use NancyEngine.FlattenException (which sounds like a bad idea to me for coupling these 2 classes). Or should I proceed with actually extract the exception handling in its o

[2015-06-23 15:53] Crisfole commented on #1793
:+1: I was just coming here to register this bug.

[2015-06-23 17:54] sloncho commented on #1638
Before I proceed, based on my jabbr conversation w/ @khellang , I need some clarification if the current implementation of flattening is the desired one. Probably @rasmus-beck can add some insight.

For what I see, if from some route a custom exception is thrown, with nested inner exceptions, the current implementation of [FlattenException](https://github.com/NancyFx/Nancy/blob/89f50d8637a51966762

[2015-06-24 07:02] Gummy35 opened #1968 "netsh url reservation fail for username with whitespaces"
netsh is run with the user parameter specified without quotes.
When user contains whitespaces, like "Power Users", netsh fails.
A workaround is to specify the quotes :
User="\"Power Users\""
However, the main problem is that for example, on french computers, the default group "Everyone" resolves to "Tout le monde" and reservation fails.
Could be fixed by modifying NetSh.cs and add quotes if the us

[2015-06-24 07:45] #1968 closed

[2015-06-24 20:52] zippy1981 commented on #1082
Let me ask the bigger question. Lots of OSS C# has xcopy commands in the msbuild. It would be relatively trivial to write an xcopy program in C or python, or shell that would sit in the path and make this magicallywork. The hard part is getting mono to ship this binary alongsize xbuild

[2015-06-24 20:55] khellang commented on #1963
I'm closing this. If you still feel you haven't gotten your answer, you might want to ask over at StackOverflow :smile:

[2015-06-24 20:55] #1963 closed

[2015-06-25 08:36] ilmattodel93 opened #1971 "How to get array in query string."
Hi all, I have an array sent as query string to a get route, how can I have back that list/dictionary in nancy?
I tried using context.request.query["_wheres"] but it is always null and I figured out that context.request.query seems to do not parse correctly the query array.

This is my request params:
_columns:id,name,founder_id
_wheres[0][type]:basic
_wheres[0][column][0]:auth/profiles
_wheres[0]

[2015-06-25 08:46] khellang commented on #1971
Would you mind asking this over at StackOverflow? :smile:

[2015-06-25 08:46] #1971 closed

[2015-06-25 10:38] ilmattodel93 commented on #1971
I wrote it here because using ToDictionary() on the query dynamic dyctionary it seems more a "missing feature" than a question.

[2015-06-25 11:13] khellang commented on #1971
Oh, sorry. Didn't see any information about anything API related, just a typical SO question... If you have questions about "missing features", I suggest you include them :smile:

[2015-06-25 11:18] grumpydev commented on #1971
There's no ToDictionary because it *is* a dictionary :) it implemements IDictionary<string, object>

[2015-06-25 11:20] khellang commented on #1971
I just tested the following and it works:

[code]

    curl "http://localhost:63677/?where=testing&where=testing2&where=testing3&where=testing4"

Output:

    testing,testing2,testing3,testing4

[2015-06-25 13:43] ilmattodel93 commented on #1971
@grumpydev There is a ToDictionary defined here :) https://github.com/NancyFx/Nancy/blob/master/src/Nancy/DynamicDictionary.cs#L332
@khellang The problem is not with multiple values with the same key, but with different keys with the same name such as

curl "http://localhost:63677/?where[0]=testing&where[1]=testing2&where[2]=testing3&where[3]=testing4"

should work.
In fact what I receive from the

[2015-06-25 13:57] khellang commented on #1971
I'm not sure why you expect that to work? I've never seen anything like that done before, so I'm pretty sure Nancy doesn't support it...

[2015-06-25 14:05] ilmattodel93 commented on #1971
I expect it because it's supported and works in most frameworks or languages like PHP, express for nodeJS, etc...
That's also the standard way of how lists of inputs with the same name works.
I attach here some links to explain it

https://secure.php.net/http_build_query
http://stackoverflow.com/questions/6243051/how-to-pass-an-array-within-a-query-string?answertab=votes#tab-top

[2015-06-25 14:08] khellang commented on #1971
Those examples are for *generating* query strings, not servers parsing them. I don't think there's any *standard* around this. Do you have a RFC for it?

[2015-06-25 14:19] ilmattodel93 commented on #1971
https://www.npmjs.com/package/qs
https://secure.php.net/parse_str
any other languages parses the query string provided before correctly, so I think that's something not supported by the language. I havent seen an rfc for it, but it's something popular, maybe an optional flag to activate that parser could be useful.

[2015-06-25 14:24] khellang commented on #1971
Uh... From that PHP page:

Those are separate functions/libraries specifically for doing this. The usage is way too narrow for Nancy to include it out of the box.
You're welcome to creating a library for doing this yourself and linking to it here, though :smile:

[2015-06-25 14:29] ilmattodel93 commented on #1971
I see your point! Thanks for explanation! :D

[2015-06-25 14:38] stkrzysiak commented on #1082
@zippy1981 I just learned about xcopy, but for those familiar with both xcopy and rsync, couldn't we just write a wrapper around rsync that converts xcopy->rsync flags? At the very least we could make an alias for xcopy?

[2015-06-25 21:27] LinuxDoku commented on #1082
Why don't simply use the copy task of msbuild which is supported by xbuild on mono out of the box? https://msdn.microsoft.com/library/3e54c37h.aspx (also featured in the msbuild task porting guide: http://www.mono-project.com/archived/porting_msbuild_projects_to_xbuild/)

There was a little bug in monodevelop but with the latest release it does not break the .csproj anymore and can be widely adopt

[2015-06-25 23:40] bluebaroncanada commented on #1484
Anyone looking for this:
var browser = new Browser(with =>
{
    with.Module<NotificationsModule>();
    with.ApplicationStartup((x, y) => JsonSettings.RetainCasing = true);
    .....
});
I found it: https://github.com/NancyFx/Nancy/issues/1868

[2015-06-26 01:15] phillip-haydon commented on #1082
*shrug*

If anyone wants to create a PR which fixes this, runs on both Windows and Linux, doesn't involve any installing of things to work, and achieves the same end goal. We will be happy.

[2015-06-30 17:20] Crisfole opened #1974 "Razor `@model` doesn't work for nested layout with base model type"
Currently the best I can do is give an example. I have a core layout:

[code]
A subarea of the site with a layout inside:
[code]
And a bunch of cshtml files that use the sub layout. Unfortunately it doesn't work. I get a `System.NotSupportedException` with the following error message:

    "Unable to discover CLR Type for model by the name of MyInterfaceOrAbstractModel"

At first I thought, oh my

[2015-07-01 01:54] phillip-haydon commented on #1974
I haven't tried with specific types, but it works fine for `dynamic`

[2015-07-01 11:54] Crisfole commented on #1974
Yeah, I have a workaround. I just wasn't sure if this was a bug.

[2015-07-02 17:49] mkamayd opened #1975 "Limited implementation of IUserIdentityResolver in Nancy.Authentication.Token"
It will be nice to have an easy way to add whatever I want to the IUserIdentity.
I will like to add a UserId for example. So that I can do at any module something like this:

[code]

using my

[code]

but with current implementation of

[code]

I don't see a way to provide the userId to GetUser. I will prefer something like a dictionary in order to provide the user Id. I tried to use the NancyCont

[2015-07-04 21:07] bluebaroncanada opened #1976 "Nancy not responding when run from a service"
Running Nancy in a Windows service.  All the Nancy modules and stuff are in a project I changed from a console to a library.
For now I'm running the service project as LocalSystem.  Adapting from the default code for the server, I have:

    protected override void OnStart(string[] args)
    {
        SetStatus(ServiceState.SERVICE_START_PENDING, 5000);

        eventLog.WriteEntry("Dust service s

[2015-07-04 21:11] bluebaroncanada commented on #1976
P.S. A freenode channel would be super awesome

[2015-07-05 13:51] arandjel-sarenac-devtech commented on #1976
try with a https://jabbr.net/#/rooms/nancyfx

[2015-07-05 13:55] bluebaroncanada commented on #1976
Thanks!

[2015-07-05 18:24] bluebaroncanada commented on #1976
I hope this helps someone else.  https://github.com/dealproc had the answer.  Said he's had this issue before, too.  It's obviously not specific to running a service so it must be an answer to problems others are having and is probably already answered somewhere.

The problem is

    using (var host = new NancyHost(uri, new Bootstrapper(), config))

This is going to go out of the code block and ca

[2015-07-06 01:19] phillip-haydon commented on #1976
That is correct, if you're using in a windows service you want to manage the creation / disposing of the host in the service start/stop, and not use a using block.

In a console app you want to add a read-key or similar after host.start() before the using block closes so it holds the host open and disposes after losing scope. OR you need to manage it yourself. :)

[2015-07-06 02:23] bluebaroncanada commented on #1976
Suggest that you might want to put an actual comment explaining that in the base code.

[2015-07-06 04:30] stefansedich commented on #1737
I just ran into this too, I had to do a nasty BeforeRequest hook using something like this:

            pipelines.BeforeRequest.AddItemToStartOfPipeline(ctx =>
            {
                var headers = ctx.Request.Headers;
                foreach (var header in headers.Accept)
                {
                    try
                    {
                        var range = new MediaRange(head

[2015-07-06 06:13] arandjel-sarenac-devtech commented on #1976
Try with this.
`using (var host = new NancyHost(uri))
            {
                host.Start();
                Console.ReadKey();
            }`

ReadKey will block then your host remains active until focus console and type something.

[2015-07-06 06:14] bluebaroncanada commented on #1976
My project doesn't have a console.

[2015-07-06 06:20] arandjel-sarenac-devtech commented on #1976
Then this should give you idea.
`public partial class MyWinService : ServiceBase
    {
        private IDisposable host;

        public MyWinService()
        {
            InitializeComponent();
        }

        protected override void OnStart(string[] args)
        {
            var uri = new Uri("http://localhost:3579");
            this.host = new NancyHost(uri).Start();
        }

[2015-07-06 06:22] bluebaroncanada commented on #1976
Yup.  That's almost exactly how I did it.

[2015-07-06 06:25] bluebaroncanada commented on #1976
Using Topshelf.

[2015-07-06 06:40] grumpydev commented on #1976
Glad you got it sorted, but this is a standard .net "thing" rather than a Nancy issue - it's clear from your original code that the host will be disposed, and the behaviour around the host being disposed is also covered in detail in the documentation:

https://github.com/NancyFx/Nancy/wiki/Self-Hosting-Nancy

In an ideal world we would throw an object disposed exception if you tried to use the hos

[2015-07-06 06:40] #1976 closed

[2015-07-06 08:08] samizzo opened #1977 "No pdb in Nuget package"
I installed Nancy and the self-hosting module in Visual Studio 2013 using nuget, and I'm not seeing any PDB files. Has a borked package been uploaded? The Nancy version appears to be 1.2.0.

[2015-07-06 08:13] phillip-haydon commented on #1977
PDB files are never shipped with nuget packages... They exist only when you create a debug build because they contain debug information. Having these in a nuget package would cause performance issues with Nancy.

[2015-07-06 08:13] #1977 closed

[2015-07-06 09:47] thecodejunkie commented on #1977
We host the symbols, for all out packages, over at https://www.symbolsource.org or you could do it yourself by using [dotPeek at a Symbol Server](http://hmemcpy.com/2014/07/how-to-debug-anything-with-visual-studio-and-jetbrains-dotpeek-v1-2/)

[2015-07-06 10:43] samizzo commented on #1977
The presence of PDB files doesn't affect performance. PDB files can exist for release builds as well. @thecodejunkie thanks, I didn't realise the PDB files for nuget packages are published there.

[2015-07-06 16:52] tugberkugurlu commented on #1959
One other thing to consider would be to sit on top of [the new routing system](https://github.com/aspnet/Routing) rather having a custom one. For example, [MVC 6 today hooks into this routing system](https://github.com/aspnet/Mvc/blob/fc2019c973e84c8b7faa99793cba56412e032c70/src/Microsoft.AspNet.Mvc.Core/BuilderExtensions.cs#L55-L78).

[2015-07-06 20:58] bluebaroncanada commented on #1976
Oh I totally agree this is a standard .Net thing but I've found that others have had the same issue so a quick comment in the code might not hurt.

[2015-07-06 21:11] horsdal commented on #1737
What is the correct behavior here? Is it responding `BadRequest` or should Nancy be more forgiving and just ignore malformed parts? I lean towards forgiving.

[2015-07-06 21:14] stefansedich commented on #1737
I was leaning towards a Bad Request because in my eyes that is really what
it is, otherwise you get into the case where you need to handle if someone
passes through only one malformed that will 400 but if there is 2 parts and
only one is malformed we ignore it, for such an edge case I would be happy
with a 400.

Thanks

On Tue, Jul 7, 2015 at 7:11 AM Christian Horsdal <notifications@github.com>
wr

[2015-07-07 04:40] phillip-haydon commented on #1737
I think it should be bad request, I don't like adding work-arounds for things like this, if people send crap then it should be rejected and force them to correct their crap.

[2015-07-07 04:44] phillip-haydon commented on #1959
@tugberkugurlu you mean pass the routes from a module back to the middleware? Or move the routes out of the modules all together and use the middleware to point to routes?

[2015-07-07 06:25] grumpydev commented on #1737
If it's something we can figure out we should accept it - should always be forgiving for inputs, strict on outputs - but if it's complete gibberish then it should be a 400, I think the behaviour currently is that it returns a 500.

[2015-07-07 06:27] grumpydev commented on #1959
We won't be replacing our routing, if people want to use the ASPNet stuff to do mapping that's fine, but that's no different to how we currently use OWIN (and without any of the IApplicationBuilder nonsense - bleh :))

[2015-07-07 06:29] grumpydev commented on #1976
You could make it a pull request @bluebaroncanada ? :)

[2015-07-07 18:54] EliotJones commented on #1959
I gave a go at cutting down some of the build errors but messed git up a bit in the process: https://github.com/EliotJones/NancyTest/tree/feature/core50 . For me this is building against DNXCore50 with only 200 errors but it might just be my environment, sorry if it's still broken for everyone else

[2015-07-09 03:32] fagnercarvalho opened #1980 "Nested validation using Data Annotations"
Hello!

It's possible to do nested object validation using Data Annotations along with the ```Validate``` method from Nancy?

I'm basically got two scenarios:
- A complex object
[code]

- A list

[code]

I see it's possible to call the ```Validate``` method for every object separately but is there a better solution?

[2015-07-09 09:08] khellang commented on #1980
If your object implements `IValidatableObject` and the nested objects does the same, why don't you just call the nested object's `Validate` method as part of the top-level one?

[2015-07-09 09:21] fagnercarvalho commented on #1980
It's a very good option but this can't be done automatically, right?

And changing the subject a little, for my list property: how I'm going to know what list item trigger a validation error? I will need to do a for and return the current index?

[2015-07-09 13:02] khellang commented on #1980
Nope. This is a limitation the data annotations validation and not Nancy per se. There are ways to do [recursive validation using data annotations](http://www.technofattie.com/2011/10/05/recursive-validation-using-dataannotations.html), but I don't think that's something we'll add support for in Nancy's validation abstraction. It basically boils down to what the underlying validation framework sup

[2015-07-09 13:02] #1980 closed

[2015-07-11 03:55] pwhe23 commented on #1891
Thanks Kristian, that worked like a charm. This ran just fine in Linqpad:

[code]

[2015-07-11 11:26] khellang commented on #1891
Great! :grin:

[2015-07-11 11:26] #1891 closed

[2015-07-12 01:08] dealproc commented on #1954
In the meantime, @damianh offered an MSOwin set of extensions that could potentially be utilized, if you're willing to abandon using the default nancy bits for authentication/authorization.  It's been working pretty well thus far.

[2015-07-12 03:26] fagnercarvalho commented on #1975
+1
I got the same problem.
It would be nice if we could do that.

[2015-07-12 03:36] mkamayd commented on #1975
I have fork and done some changes; It's not finish yet. I will commit and push, next week, to my forked version.

[2015-07-12 13:49] jchannon commented on #1959
@awec where's that coreclr version of tinyioc you mention?

[2015-07-12 14:15] ravensorb commented on #1954
I like where 2.0 is going -- assuming that ClaimsIdentity will also be full supported in the pipeline.  That said, I still think it would be nice to allow for either defining a generic that could be used to store a user context (that was serializable) or provide a simple string based dictionary/hashtable concept.  Consider how the ASP.NET Authentication/Authorization pipeline has evolved to be mor

[2015-07-13 06:50] fagnercarvalho commented on #1975
Nice! I can't wait for that! :+1:

[2015-07-13 19:00] Advoskr commented on #1935
I also face the same problem and on ubuntu 15.04 with Mono 4 everything works great

[2015-07-14 16:50] Corstiaan84 commented on #1486
Hi guys. I am doing some prep for a new project. Really want to use Nancy again but the api docs are an important part of the new project. Like @agasthyanavaneeth I am also interested in the status of all things Swagger 2.0. Any news? :-)

[2015-07-14 19:31] khellang commented on #1486
@Corstiaan84 There is a PR going for Swagger 2.0; https://github.com/khellang/Nancy.Swagger/pull/64.

[2015-07-15 07:52] Corstiaan84 commented on #1486
@khellang cool, thanks

[2015-07-15 11:17] simon-brooke commented on #1280
I've hit this bug this morning, and, assuming that double-decoding was going on, tried both:

http://localhost:3579/Json/PointsMatching/%2B

and

http://localhost:3579/Json/PointsMatching/%252B

Both of these were received serverside as spaces, so it's not quite as simple as double-decoding, since double-decoding should decode

'%252B' to '%2B' and subsequently to '+'

I had planned heroically to

[2015-07-15 11:35] thecodejunkie commented on #1935
I'm with @grumpydev here, this is a Mono bug. We don't explicitly do anything different on the various Mono versions so if it breaks on a newer version, then that's not us.

[2015-07-15 23:17] andypea opened #1982 "Nancy.Authentication.Token.Tokenizer produces different token formats on Windows and Unix"
By default the Tokenizer uses an Environment.NewLine as an item delimiter.

[code]

This will be a "\r\n" when running on Windows, but just a "\n" when running on other systems:

https://msdn.microsoft.com/en-us/library/system.environment.newline(v=vs.110).aspx

Not a big issue, but it could lead to client-side token parsing breaking.

Thanks for the software!

[2015-07-15 23:59] VictorySquareAdmin opened #1983 "Nancy approach to periodic server tasks?"
I'd like my server to preform a task once every second. I could throw something together with Action<> and Task<>, but I was wondering if there was a Nancy-preferred approach? Or, at the very least; is there anything I should watch out for when running my own threads alongside Nancy?

Thanks!

[2015-07-16 01:58] phillip-haydon commented on #1983
Nancy is a Web Framework like MVC. There is nothing built in to run tasks.

Windows has a built in Scheduler. Create a console app and setup a schedule to execute it.

[2015-07-16 01:58] #1983 closed

[2015-07-16 15:43] tomstreet opened #1984 "[dnx451 ASPNET Beta5] Getting NotSupportedException caused by RequestStream"
I'm using Nancy in my ASPNET 5 app running on the latest dnx beta5 x86 full CLR (not coreclr).

I found this when posting a multipart/form request containing a file with a size of around 800KB.

It looks like Nancy is trying to flush the underlying steam in [Nancy.IO.RequestStream line 446](https://github.com/NancyFx/Nancy/blob/master/src/Nancy/IO/RequestStream.cs#L446). At this point the underlyi

[2015-07-16 17:32] thecodejunkie commented on #1982
Good catch! This should be changes. Will assign this to the next milestone and ping @jeffdoolittle as well =)

[2015-07-16 20:37] jeffdoolittle commented on #1982
Fortunately, this is only a default value and can be overridden, so I think the bug should be closed.

See the code available here: https://github.com/NancyFx/Nancy/blob/master/src/Nancy.Authentication.Token/Tokenizer.cs#L204

:beers:

[2015-07-16 22:12] andypea commented on #1982
Sure. It's easy to work-around as long as one is aware of it.

[2015-07-16 22:40] jeffdoolittle commented on #1982
I recommend someone updates the wiki to describe the configurability options: https://github.com/NancyFx/Nancy/wiki/Token-Authentication

I'm not sure what other default value would be the most "correct" and am open to suggestions, I'm just not sure this qualifies as a "bug".

[2015-07-19 20:38] tritao commented on #1935
Can you guys file a bug in our bugtracker (Xamarin) and attach some repro so we can take a look at it?

[2015-07-20 07:47] Advoskr commented on #1935
I posted this bug to Mono team, hope they can investigate this problem https://bugzilla.xamarin.com/show_bug.cgi?id=32128

[2015-07-20 22:53] tekhedd opened #1986 "RequestStream does not close stream when buffering to memory"
MoveToWritableStream() does not close the old stream after copying it to memory. This leaves HttpListenerRequest's stream unclosed when self-hosting.

[2015-07-20 23:00] tekhedd opened #1987 "RequestStream buffering async support improvement?"
(In 1.2) when RequestStream buffers data to file, it does it synchronously, but if it buffers to memory, it does it asynchronously, but waits in the method for the copy to finish. Aside from seeming backwards (: it seems like both operations should be async. If RequestStream *is* going to buffer, It makes sense to push the async responsibility back to the caller (in my case NancyHost) to allow for

[2015-07-21 02:21] phillip-haydon commented on #1986
Is this for self hosting without OWIN?

Could we just drop support for non-owin based self hosting?

[2015-07-22 00:39] vchekan commented on #1302
How possible this works: this.modules is private and can not be used in override?

Besides it seems to me rather inconvenient to dig into details of ioc implementation for such a common use case.

[2015-07-22 02:02] phillip-haydon commented on #1302
@vchekan it's not a common use case at all. In neither Nancy or MVC, to need to load modules after the application has started.

[2015-07-22 20:25] nvivo opened #1989 "Request never completes if the awaited task is cancelled"
I'm having an issue where a task being awaited is cancelled, and the request never finishes.

In this example, "/a" and "/b" finish correctly, "/c" hangs forever.

[code]

[2015-07-22 20:35] nvivo commented on #1989
It looks like Nancy is swallowing the `TaskCancelledException` for some reason. Wrapping the await in a try-catch and retrhowing seems to fix it.

[code]

Still, sounds like this shouldn't happen.

[2015-07-23 03:17] andypea commented on #1982
In the long term it would be a good idea for Nancy's token implementation to follow the JWT specification: http://self-issued.info/docs/draft-ietf-oauth-json-web-token.html.

In the meantime, so as not to break existing code, I would leave the current default separators as is and mention the issue in the documentation.

[2015-07-23 13:34] jbuechner commented on #1302
The previously posted code example comes from my own implementation of a NancyBootstrapper (derived from NancyBootstrapperBase). As you mentioned the modules field is private in NancyBootstrapperBase.

In my own derivative bootstrapper I just declared a private field named modules. The private field from the NancyBootstrapperBase is not affected by it. The private modules field is only used to imp

[2015-07-23 18:04] tekhedd commented on #1986
This is for self-hosting. Are you suggesting that the best fix to the bug I reported that I found while implementing non-OWIN based SelfHosting in my app is to drop support? Awesome. :}

[2015-07-23 18:18] phillip-haydon commented on #1986
@tekhedd no. I'm suggesting dropping support for self hosting in Nancy in favour of Owin self hosting which doesn't suffer from this problem. I personally don't know anyone not using non-owin self hosting now-a-days. The old self hosting has other issues besides the one you have raised.

Is there any reason why you can't use the owin host?

[2015-07-23 18:27] vchekan commented on #1302
@phillip-haydon than I must be missing something. I do not load module after app load. My use case is as basic as it gets: provide REST service in windows service process. I followed the examples in documentation and created a module class in my project:

    public class RestServer : NancyModule
    {
        public RestServer(TaskRunnerHost host) {
            Get["/tasks"] = _ => Response.AsJso

[2015-07-23 19:38] tekhedd commented on #1986
1) I'm running cross platform here. A stable, widely used OWIN implementation that runs on Mono... would be...which one again?

2) I personally don't know anyone who watches soccer. Why do they keep broadcasting it on the TV?

[2015-07-23 21:13] jbuechner commented on #1302
The documentation is not really clear in this case, as Nancy is only looking for public types of NancyModule.

If you already have your own bootstrapper for your nancy application you can use the code from above. Beside overloading the Module property you have to add an `IEnumerable<ModuleRegistration> module;` member to your bootstrapper to make it work.

[2015-07-23 22:36] vchekan commented on #1302
Another documentation error is that nancy is looking up INancyModule and not NancyModule derived classes.

I am surprised that Nancy is not using IoC for resolving modules. I tried to register my own module, but without any success.

        protected override void ConfigureApplicationContainer(TinyIoCContainer container)
        {
            container.Register<INancyModule>(new RestServer(_host)

[2015-07-23 22:52] jeffdoolittle commented on #1982
My understanding is that the TokenAuth method is going to be discontinued in the Nancy project since things like JWT or other Token authorization mechanisms can/should be implemented as OWIN middleware.

[2015-07-24 03:07] phillip-haydon commented on #1302
I don't really follow.

You want to have Private/Internal Modules and Dependencies?

[2015-07-24 06:03] vchekan commented on #1302
I want as simple as possible REST service in single assembly scenario. Internal Module with explicit instantiation would be preferred. I do not really need dependency Injection. Something like this (pseudocode):

    main() {
       new NancyHost("/myapp", new MyNancyModule(someParamsHere))

    class MyNancyModule : NancyModule {
      internal MyNancyModule(string someParam) {
    ...

I really

[2015-07-24 06:20] jbuechner commented on #1302
If you use the first approach, you'd only be able to register a single INancyModule in the whole container (this is typically not what you want :) ).

Your concerns with the second approach are correct. You can't be certain if the Modules property on a Bootstrapper is used only once. But you can change your concatenation in the Modules getter so you can be certain.

[code]

I assume the SDHP can o

[2015-07-24 06:25] vchekan commented on #1302
Yeah, but my next best approach would be Nancy to use DI to resolve modules in addition to scanning assemblies:

    protected override void ConfigureApplicationContainer(TinyIoCContainer container)
    {
        container.Register<INancyModule>(new RestServerModule(_host));
    }

[2015-07-24 06:37] jbuechner commented on #1302
I don't know if its possible or not. Because the `Module` property inside a Bootstrapper returns `ModuleRegistration` instances. A ModuleRegistration is a sealed class returning the *type* of a module, not an instance.
Using `Register` on a tiny ioc registers a single instance with a certain registration type. Meaning your module is instantiated before the nancy application has been bootstrapped.

[2015-07-24 09:00] khellang commented on #1986
Katana is both widely used and stable. What's the problem on Mono?

[2015-07-24 11:16] damianh commented on #1302
Overriding `protected override IEnumerable<ModuleRegistration> Modules { get; }` is the way to let Nancy know about modules it won't find via scaning e.g. internal ones. Personally, I do this as standard practice.

Nancy needs to activate your modules and it will only do so through a container (TinyIoC, or your own)

The module constructors should be public though as that is the only way TinyIoC s

[2015-07-24 21:39] vchekan opened #1991 "Too eager when looking for file name pattern"
I am requesting

    GET http://localhost/taskrunner/main.js

My routes are:

            Get["/"] = _ => View["default.html"];
            Get["/main.js"] = _ => View["main.js"];

Yet I am getting an error:

<pre id="errorContents">Nancy.RequestExecutionException: Oh noes! ---> Nancy.ViewEngines.AmbiguousViewsException: This exception was thrown because multiple views were found. 2 view(s):
	/mai

[2015-07-25 02:30] phillip-haydon commented on #1991
Why are you attempting to return your HTML / JS like this? You're running them through the pipeline for no reason...

You either want to add them to the static content conventions:

https://github.com/NancyFx/Nancy/wiki/Managing-static-content

Or do something like:
[code]

[2015-07-27 09:50] taharrison commented on #1280
Hey guys.

I just tried to patch the behaviour of url-decoding in DefaultRouteResolver to get around a bug with the treatment of encoded `/`s.  But I've closed my pull request, because it relied on the DefaultRouteResolver being responsible for URL Decoding, which from the discussion here it seems it shouldn't be.

I carefully documented the issues I saw though, so am reproducing the summary and t

[2015-07-28 10:38] NTiering commented on #1950
as a newbie would it be possible for me to grab this one / if so , how ? (I've never contributed to an OS project before)

[2015-07-28 10:50] khellang commented on #1950
@NTiering Yeah. This is a perfect "beginner" task :smile: [CONTRIBUTING.md](https://github.com/NancyFx/Nancy/blob/master/CONTRIBUTING.md) should cover the information you need to get started.

Since this is a pretty "open" issue, it would be cool if you just jumped on it and came up with a sensible suggestion (preferably through a pull request, so it's easier to discuss), and then we can take it f

[2015-07-28 11:06] NTiering commented on #1950
Cheers. Will do
On 28 Jul 2015 11:51, "Kristian Hellang" <notifications@github.com> wrote:

[2015-07-29 07:14] thecodejunkie commented on #1935
This is confirmed as a bug in Mono 4. Closing this issue

[2015-07-29 07:14] #1935 closed

[2015-07-29 14:48] donnyv commented on #1384
Any movement on performance benchmarks?

[2015-07-29 15:12] khellang commented on #1384
There's https://github.com/TechEmpower/FrameworkBenchmarks/pull/1565. I've still not gotten the benchmarks to run properly on my machine. You could help out, @donnyv...

[2015-07-29 15:32] khellang commented on #1486
OK, I think it's time for me to put [Nancy.Swagger](https://github.com/khellang/Nancy.Swagger) up for adoption.

Here are my reasons:

I'm not using Nancy much for production (read; work) stuff anymore. Quite frankly, I don't do much server-side web *at all* ATM, so I've lost some interest :disappointed:

I also lost quite a bit of steam realizing how much frickin' work it takes to get some decent

[2015-07-29 15:36] jchannon commented on #1486
Please don't scrap it etc as we use it for our API documentation and use the nuget libs :smile:

[2015-07-30 16:25] MrTomWhite commented on #1598
@jjchiw It looks like this got merged a while ago. Can we go ahead and close this issue? :smile_cat:

[2015-07-30 16:30] #1598 closed

[2015-07-30 16:30] phillip-haydon commented on #1598
:) thanks @MrTomWhite

[2015-07-30 22:31] jeffbonhag commented on #1598
Thanks!

[2015-07-30 23:34] MrTomWhite commented on #1598
You're welcome! I'm just doing my part; every issue that gets closed is another issue that doesn't need to be dealt with in the future.

[2015-07-31 14:40] ronydj opened #1992 "tokenizer.Tokenize error test enviroment (Nancy.ErrorHandling.RouteExecutionEarlyExitException)"
Guys,

I have implemented the token Auth on my aplication. In production its workin fine.  But during unit tests I am getting this error:

An exception of type 'Nancy.ErrorHandling.RouteExecutionEarlyExitException' occurred in Nancy.Authentication.Token.dll but was not handled in user code

Stacktrace:

   em Nancy.Authentication.Token.Tokenizer.Tokenize(IUserIdentity userIdentity, NancyContext co

[2015-07-31 18:37] ronydj commented on #1992
I have found the problem. And a fix for it.

On the Tokenizer.cs class we have the method Tokenize:

 public string Tokenize(IUserIdentity userIdentity, NancyContext context)
        {
            var items = new List<string>
            {
                userIdentity.UserName,
                string.Join(this.claimsDelimiter, userIdentity.Claims),
                this.tokenStamp().Ticks.ToString(

[2015-08-01 06:30] phillip-haydon commented on #1992
This seems like a @jchannon issue to look at. I think.

[2015-08-05 16:48] Aaronontheweb opened #1994 "Docs: add end-to-end examples in all areas that cover the basics"
Based on the lively discussion we had on Twitter about the state of Nancy's docs, @khellang suggested that I edit the Wiki and create an issue for how to make basic things obvious to beginners.

So I added the following: https://github.com/NancyFx/Nancy/wiki/Model-binding#a-complete-model-binding-example

What made it hard for me to pick up Nancy was the lack of end-to-end examples. People have di

[2015-08-05 17:57] Aaronontheweb opened #1995 "Docs: unified OWIN auth for Nancy + SignalR"
I found this but wasn't able to get it to work in my own project
https://github.com/damianh/NancySignalrOwin

IMHO, this is a killer feature that distinguishes Nancy from ASP.NET MVC - a straightforward way of using the OWIN middleware to accomplish unified authentication and authorization for both websockets and web.

If you could do a tutorial or walkthrough explaining how to do this, that'd be

[2015-08-05 19:22] 06b commented on #1994
I know that I've tripped over the ~/ difference with @Html.Partial and that has appeared a few times within the github issues like issue #1738 for example. When I found the [Nancy from an MVC Dev POV](http://www.endycahyono.com/article/nancy-from-mvc-dev/) blog post it was helpful to me since I was coming from a dev shop that was only mvc.

+1 on the Complete Picture example you added, it does hel

[2015-08-05 20:12] janus007 commented on #1994
Couldn't agree more, NancyFX is a truly master piece, but takes tremendous focus to get started with.

[2015-08-05 21:42] thecodejunkie commented on #1994
Cool. Let's roll with this.. what would be a good (other than what @Aaronontheweb mentioned) "Beginners story"? Thought we had one, but clearly not one that works for everyone =)

[2015-08-06 02:00] phillip-haydon commented on #1994
@thecodejunkie I think there's 2.

1) Creating your first Web Application with Nancy hosted with OWIN
2) Creating your first self-hosted Application with Nancy hosted with OWIN

Mostly because I see people getting confused between the two in JabbR. But also I think we should slowly begin moving away from the non-owin self-host, and asp.net host. Also, the WCF Host needs to be burned at the stake.

[2015-08-06 02:09] phillip-haydon commented on #1994
![image](https://cloud.githubusercontent.com/assets/895629/9102306/27958f04-3c23-11e5-8fd3-ac0abcef4e5e.png)

[2015-08-06 04:14] stefansedich commented on #1994
+1 here for me one I can think of off hand that I fought recently would be a "getting started with DataAnnotations Validation" especially when it comes to needing things like validation adapters and how to wire everything together.

[2015-08-06 09:11] jchannon commented on #1994
We also have sample.nancyfx.org, bit out of date as well as https://github.com/NancyFx/DinnerParty which may have helped @Aaronontheweb

[2015-08-06 09:13] khellang commented on #1994
And not to forget http://blog.nancyfx.org/ and https://github.com/NancyFx/Nancy/wiki/Blog-Posts%2C-Video-%26-Audio :)

[2015-08-06 09:28] jjchiw commented on #1994
I have the typical TodoMvc with Nancy https://github.com/jjchiw/NancyRavenTodoMvc :) I should update to 1.2.0. I think that the documentation that exists (wiki, tutorial, blogs, google group, jabbr) are good to start.
I also have this https://github.com/jjchiw/rpsls (I should update it too - http://rpsls.apphb.com/)

[2015-08-07 16:11] chasemyaccord opened #1996 "Why does binding an empty string resolve to null?"
So I'm trying to bind some properties from a Javascript object to a model using Nancy and one of the properties is being changed from an empty string to null.  I narrowed it down to a method in the DefaultBinder class.

[code]

I thought there may be a way to override this behavior with the BindingConfiguration but based on the above code, that wouldn't work anyway.  Is this a bug?  Or is there a

[2015-08-08 13:28] albertjan commented on #1996
It's an oversight I think. It rarely happens that an empty string represents a value. I can't think of a way why this would be on purpose.

You could do a pull request :smile:

[2015-08-08 18:19] billypon opened #1997 "about helper in App_Code"
I want use some helpers anywhere, so I put xxx.cshtml in App_Code.
But it didn't work with Nancy.
What could I do?

[2015-08-08 19:40] xt0rted commented on #1997
Support was started in #1373 but it was never merged.

[2015-08-09 04:54] billypon commented on #1997
@xt0rted OK, thanks! It's helpful

[2015-08-09 04:56] billypon commented on #1997
But when will it(#1373) be merged, it's very helpful.

[2015-08-09 21:25] Infernno opened #1998 "Small issue with Intellisense & Razor"
Hey guys.
This maybe a stupid question, but i can't solve it.
I created a new project, added Nancy & Nancy.Hosting.Self & Nancy.ViewEngines.Razor from nuget to the project, and everything works, except intellisense:
![1](https://cloud.githubusercontent.com/assets/7915327/9157000/b5e5cf58-3f16-11e5-89a2-2a9d68d066bd.png)
![2](https://cloud.githubusercontent.com/assets/7915327/9157001/b695fbe4-3f16-

[2015-08-10 07:18] khellang commented on #1998
Have you read (and followed) the [wiki entry](https://github.com/NancyFx/Nancy/wiki/Razor-View-Engine)?

[2015-08-10 08:35] Infernno commented on #1998
I guess i found the problem, adding @inherits Nancy.ViewEngines.Razor.NancyRazorViewBase to each view helped.

[2015-08-10 08:37] khellang commented on #1998
:+1:

[2015-08-10 08:37] khellang commented on #1994
Just got another example where this would might've helped; #1998 :smile:

[2015-08-10 08:41] Infernno commented on #1998
Okay, forgot one thing, things like Html.BeginForm are not supported?

[2015-08-10 08:42] khellang commented on #1998
A lot of the HtmlHelpers are MVC specific. I think BeginForm is one of them :disappointed:

[2015-08-10 08:48] Infernno commented on #1998
Sad :tired_face:
BTW, is there any documentation on how to use ```Nancy.Validation.DataAnnotations```? In order to check if model is valid

[2015-08-10 08:54] khellang commented on #1998
The docs on validation is rather poor, unfortunately. You might be able to get something out of the [validation sample](https://github.com/NancyFx/Nancy/tree/master/src/Nancy.Demo.Validation), though. It should basically be

 - Install **Nancy.Validation.DataAnnotations**
 - Add annotations to your model
 - Call Validate or BindAndValidate in your model

Also, if you have custom attributes, you ne

[2015-08-10 08:59] xt0rted commented on #1998
The closest you'll get to mvc's helper methods is [Nancy.ViewEngines.Razor.HtmlHelpers](https://github.com/davidwhitney/Nancy.ViewEngines.Razor.HtmlHelpers). `BeginForm` isn't implemented yet and can't be without a bit of hacking because of how the view engine is setup. #1709 has more info on that.

If you're using .net 4.5+ you'll also probably need to install [Nancy.Validation.DataAnnotations.Ex

[2015-08-10 09:05] Infernno commented on #1998
Okay, thanks guys. I'll close this issue if you nobody is against :wink:

[2015-08-10 09:05] #1998 closed

[2015-08-10 12:15] thecodejunkie opened #1999 "Create new unified configuration API"
_THIS WILL BE A NANCY v2.x FEATURE ONLY DUE TO THE BREAKING CHANGES_

Overtime we have gotten a bit of fragmentation when it comes to configuring various parts of Nancy. We need to re-evaluate this and create a unified approach. I have created a [pull-request](
https://github.com/NancyFx/Nancy/pull/2003) with a design that we've talked about in the team.

The base for the new approach is a new met

[2015-08-10 12:16] thecodejunkie opened #2000 "Migrate existing configuration endpoints to the unified configuration API"
As mentioned in #1999 once the new unified configuration API is implemented, we need to migrate the various configurations that we currently have implemented. This issue is intended to track the progress of that work. If you identify a place that needs updating, please let us know. Each of these should be handled as separate pull-requests so we can perform the migrations in a controlled fashion an

[2015-08-10 13:01] thecodejunkie commented on #1999
Just to give people and idea on how various kinds of configuration API's could look like. Here are three approaches to the diagnostics configuration. It is all going to come down to what you are configuring (required/optional values etc)

[code]

[2015-08-10 22:47] wtilton commented on #1996
Pull request: https://github.com/NancyFx/Nancy/pull/2001

[2015-08-11 12:53] jchannon commented on #2000
:+1:

[2015-08-11 12:58] jchannon commented on #1999
:eyes: :+1:

[2015-08-12 10:04] yannisgu commented on #1837
Heres a test for reproduction: https://github.com/NancyFx/Nancy/compare/master...yannisgu:issue1837
Didn't find a solution yet...

[2015-08-12 10:24] Radzhab opened #2005 "How add https support in ubuntu?"
How add https support in ubuntu?

[2015-08-12 10:59] jchannon commented on #2005
Register a certificate and start your host up with https://

[2015-08-12 11:36] Radzhab commented on #2005
I understand it. https://coderead.wordpress.com/2014/08/07/enabling-ssl-for-self-hosted-nancy/ This tutorial work on WIndows. How make this operations on Ubuntu?

[2015-08-12 12:01] thecodejunkie commented on #2005
That's a question for an Ubuntu support forum. Unfortunately we are not able to provide support for configuring your environment. Sorry

[2015-08-12 12:01] #2005 closed

[2015-08-12 12:06] Radzhab commented on #2005
please provide good documentation.

[2015-08-12 12:08] damianh commented on #2005
lol

[2015-08-12 12:10] richorama commented on #2005
why not terminate your SSL with a reverse proxy like nginx?

[2015-08-12 13:19] Yantrio commented on #2005
`httpcfg -add -port 443 -pvk yourstuff.pvk -cert yourstuff.crt`
check that it was added with
`httpcfg list`
then listen on https instead of http in your application.

[2015-08-12 13:43] samal84 opened #2006 "AutoRegisterIgnoredAssemblies comment has bools wrong way around"
Am I understanding it wrong or does DefaultNancyBootstrapper.AutoRegisterIgnoredAssemblies have the bools in the last sentence of the comment the wrong way around?

https://github.com/NancyFx/Nancy/blob/master/src/Nancy/DefaultNancyBootstrapper.cs#L39

/// Gets the assemblies to ignore when autoregistering the application container
/// Return true from the delegate to ignore that particular assemb

[2015-08-12 16:07] Infernno opened #2007 "Implementing token-based authentication"
Hey guys.
I apologize for my stupid question, but i can't solve it (yeah, again) :sob:
I'm trying to implement token-based authentication with ```Nancy.Authentication.Token```.
As i understand, the algorithm should look like this:
* Check user input (username and password), return error if something goes wrong
* Generate token via tokenizer.Tokenize and return it
* Send the token as an HTTP header

[2015-08-12 16:12] vchekan commented on #1991
Yeah, I figured it out. Documentation is missing on this use case

[2015-08-12 16:12] #1991 closed

[2015-08-12 18:18] janus007 opened #2008 "Static files"
Hello

After some experimenting with NancyFX and DNX451 I'm facing some problems with static files or rather non-existing files.

I would like NancyFX to catch all requests and pipe requests through StaticConventions-handler.

i.e.
[code]
But when I request a file that doesn't exists I'm getting a 404, before it even hits the delegate  StaticContentsConventions.

The interesting part is that I'm a

[2015-08-12 21:01] janus007 commented on #1959
So... does this mean I can use this branch in my DNX 451 project?

[2015-08-12 21:02] jchannon commented on #1959
You can try but it's not complete

On Wednesday, 12 August 2015, janus007 <notifications@github.com> wrote:

[2015-08-13 05:37] Radzhab commented on #2005
Richard, i read you tutorial https://coderead.wordpress.com/2014/08/07/enabling-ssl-for-self-hosted-nancy/. How make its on Ubuntu?

[2015-08-13 06:39] jchannon commented on #2005
@Radzhab Look at what @Yantrio provided

[2015-08-13 11:05] Radzhab opened #2009 "How get json from post request (question)"
I have route
[code]
and with curl i send post request
```curl -XPOST -H "Content-Type: application/json" http://localhost:7777/ -d '{"ok":true,"result":[{"update_id":698487365,"message":{"message_id":45,"from":{"id":10902074,"first_name":"Radzhab"},"chat":{"id":10902074,"first_name":"Radzhab"},"date":1439460132,"text":"asd"}}]}'```

How get this json in response?

[2015-08-13 11:22] SlavaBobik commented on #2009
@Radzhab  You can do than like:
[code]

[2015-08-13 11:23] Radzhab commented on #2009
Спасибо)

[2015-08-13 11:34] SlavaBobik commented on #2009
@Radzhab  include this namespace `using Nancy.Extensions;`

[2015-08-13 11:52] jchannon commented on #2009
You can also use `<Bind>` to bind the payload to a class. See the wiki on ModelBinding

[2015-08-13 11:52] #2009 closed

[2015-08-14 10:05] Infernno commented on #2007
Okay, i managed to deal with it ;)

[2015-08-14 10:05] #2007 closed

[2015-08-14 11:10] Infernno opened #2010 "Issue with Razor view"
In my view i'm trying to call ```Html.RenderContext.Context.CurrentUser``` or ```Html.CurrentUser.UserName```, and i thought it worked:
![default](https://cloud.githubusercontent.com/assets/7915327/9272698/503ed8b0-42af-11e5-834f-e28904a0f669.png)
But after a few seconds, i get an error:
[code]
The same practically goes for ```Html.CurrentUser.UserName```:
[code]
My partial view:
[code]
[StackOver

[2015-08-14 13:47] Infernno commented on #2010
Okay, it's seems to be an issue with Intellisense

[2015-08-15 15:41] #2010 closed

[2015-08-15 16:14] thecodejunkie commented on #1999
Updated initial post with information about the `INancyDefaultConfigurationProvider`-interface and the `ConfigurableBootstrapperConfigurator.Configure()`-method

ping @NancyFx/most-valued-minions @NancyFx/nancy-core-contributors

[2015-08-16 12:40] janus007 commented on #2008
I guess I've solved it.
It seems that the applicationhost.config still have traces of ISAPI on my VS2015 debugging environment.
This seems a bit weird when Microsoft is proclaiming that it runs without any dependencies to the old stuff. In my applicationhost.config element:
<staticContent lockAttributes="isDocFooterFileName">
I can clearly see a lot of files, for instance .html being served as sta

[2015-08-16 21:47] rasmus-beck commented on #1837
@yannisgu Thanks!

[2015-08-16 22:58] xt0rted commented on #1837
When creating the `GZipStream` ([DeflateStream](https://msdn.microsoft.com/en-us/library/system.io.compression.deflatestream(v=vs.110).aspx) as well) you need to pass`true` as the [third parameter](https://msdn.microsoft.com/en-us/library/27ck2z1y(v=vs.110).aspx#parameters). The remarks section has more information as to why.

Here's a passing version of the above test.
[code]

[2015-08-17 09:03] goldytech opened #2014 "Cross platform RESTful Services"
Hello,
As per documentation Nancy supports both Windows and Linux. I want to develop the RESTful services which can be hosted on IIS on windows and Apache on Linux. Do I need to write anything specific in the code to make this work ?

I do understand deployment will differ.

Thanks

[2015-08-17 10:31] khellang commented on #2014
Nope. Just make sure the solution builds/runs on both .NET and Mono. There might be some differences in file path handling etc.

[2015-08-17 15:01] wilhen01 commented on #1922
Anyone got any insight on this? Still experiencing it on the project in question, and unfortunately I've had no luck tracking it down.

[2015-08-17 15:34] phillip-haydon commented on #1922
Unfortunitely none of us use any IoC container besides TinyIoC so with little to no knowledge of ninject its hard for us to help.

Do you happen to have a particular module that is dependent on something from Nancy?

[2015-08-18 10:28] ProfessionalNihilist opened #2016 "NullReferenceException when accessing Contents of Response in AfterRequest pipeline item"
Hey,

From following https://github.com/NancyFx/Nancy/wiki/The-Application-Before%2C-After-and-OnError-pipelines I had written an AfterRequest pipeline item for our application using Nancy 0.22 which has broken upon upgrading to 1.0.

In my handler I am trying to copy the response stream into a buffer with `context.Response.Contents.Invoke(copy)` but I am getting a NullReferenceException since the

[2015-08-18 14:55] wilhen01 commented on #1922
Not directly @phillip-haydon - we specify Ninject Modules containing bindings for our custom classes where we need to bind an implementation class to an interface but when it comes to all the Nancy stuff we're taking advantage of Nancy and Ninject's automatic assembly scanning etc. to discover all the Nancy modules, Response Processors etc. and any dependencies where explicit binding isn't require

[2015-08-18 15:17] khellang commented on #1922
I'm pretty sure there's no cyclic dependencies in Nancy. If that were the case, there would've been tests failing and lots of people complaining. Unless we have a small repro of this, I'm not sure how you want us to debug it for you? :smile:

[2015-08-18 16:21] wilhen01 commented on #1922
@khellang No, definitely no cyclic dependenices in Nancy...we use the Nancy/Ninject combination in about 20 other projects and I've never seen this issue elsewhere (which makes it all the more annoying!)

I haven't had time to try and reproduce this on a smaller scale but I suspect if I made a toy solution and tried I wouldn't see it. Was kinda hoping someone might have experienced something simil

[2015-08-18 16:25] phillip-haydon commented on #1922
Between here, Twitter, and JabbR, I haven't heard of anyone else getting similar issues.

If you're able to reproduce the issue, you will either realize something is wrong on your end, or you will give us something to fix :D either way I'm not entirely sure we can be much help :(

[2015-08-18 17:36] wilhen01 commented on #1922
Fair play. Thanks for the input anyway guys

[2015-08-18 21:53] #2014 closed

[2015-08-18 21:53] #2008 closed

[2015-08-18 21:54] thecodejunkie commented on #2006
Hey @samal84 you want to join the [contributors](http://nancyfx.org/contribs.html) by sending us a pull-request for this? =)

[2015-08-18 21:57] thecodejunkie commented on #1997
Closing this as there is an open issue for it already (#1373)

[2015-08-18 21:57] #1997 closed

[2015-08-18 21:59] thecodejunkie commented on #1995
Ping @damianh

[2015-08-18 21:59] thecodejunkie commented on #1992
ping @jchannon

[2015-08-18 22:00] thecodejunkie commented on #1989
@grumpydev / @damianh what do you guys think?

[2015-08-18 22:04] thecodejunkie commented on #1982
@jeffdoolittle care to update the wiki as previously mentioned? Once that's been done then we can close this

[2015-08-18 22:05] thecodejunkie commented on #1864
Did you guys ever reach a consensus on this? @grumpydev @damianh

[2015-08-18 22:08] #1958 closed

[2015-08-18 22:09] thecodejunkie commented on #1955
@bluebaroncanada using what view engine? Could you give a short folder structure sample that we could use to reproduce this? Thanks

[2015-08-18 22:10] thecodejunkie commented on #1953
My brain might be a bit tired tonight, but could you elaborate a bit more on this? Thanks

[2015-08-18 22:12] thecodejunkie commented on #1951
@lijunle Would you care to send us a pull-request for this? Thanks

[2015-08-18 22:13] thecodejunkie commented on #1950
@NTiering @hmemcpy did either of you ever get anywhere with this?

[2015-08-18 22:14] thecodejunkie commented on #1922
@wilhen01 do you feel that this issue can be closed? Thanks

[2015-08-18 22:15] thecodejunkie commented on #1915
@jeffdoolittle care to chim in? @RPM1984 did you ever get anywhere with this?

[2015-08-18 22:17] #1914 closed

[2015-08-18 22:19] #1798 closed

[2015-08-18 22:20] #1774 closed

[2015-08-18 22:20] #1773 closed

[2015-08-18 22:28] jchannon commented on #1992
Huh? No idea how the tokeniser thing works. It was a PR from a community
member to out that in

On Tuesday, 18 August 2015, Andreas Håkansson <notifications@github.com>
wrote:

[2015-08-18 23:09] RPM1984 commented on #1915
@thecodejunkie nope, never got any further than the convo above. Will probably end up using [IdentityServer3](https://github.com/IdentityServer/IdentityServer3)

[2015-08-19 00:51] jeffdoolittle commented on #1915
@thecodejunkie Isn't token auth slated to be deprecated in favor of using a JSON Web Token implementation over OWIN? I'd concur with @RPM1984 and recommend going with IdentityServer.

[2015-08-19 00:57] jeffdoolittle commented on #1982
@thecodejunkie done: https://github.com/NancyFx/Nancy/wiki/Token-Authentication#sensible-defaults

[2015-08-19 01:46] PureKrome commented on #1915
I'm pretty sure JWT is the way forward.

[2015-08-19 04:07] phillip-haydon commented on #1915
Sounds like JWT is the way to go, so closing this for now.

[2015-08-19 04:07] #1915 closed

[2015-08-19 05:16] thecodejunkie commented on #1992
Ah, sorry I was being stupid. The thing we need to do is to make sure that the `Browser` has a default user-agent set. Will take a look

Thanks @ronydj for reporting this and also reporting a work-around!

[2015-08-19 06:28] wilhen01 commented on #1922
Sure. I'll re-open it if I find something further you guys can investigate.

[2015-08-19 06:28] #1922 closed

[2015-08-19 06:51] lijunle commented on #1951
Do I need to add one test case for this?

[2015-08-19 07:17] thecodejunkie commented on #1992
Submitted a pull-request to add a default user-agent when using `Nancy.Testing.Browser` #2017

[2015-08-19 07:54] thecodejunkie commented on #1992
Resolved by #2017

[2015-08-19 07:54] #1992 closed

[2015-08-19 11:14] thecodejunkie commented on #1951
@lijunle From what I can tell, we do not have any test for `IsParameterized`, so we would not enforce it. Bonus points if you added test coverage for the extension method :smile_cat:

[2015-08-19 11:17] thecodejunkie commented on #1982
@jeffdoolittle :+1:

[2015-08-19 11:17] #1982 closed

[2015-08-19 13:30] #1909 closed

[2015-08-19 13:31] #1667 closed

[2015-08-19 13:34] #1927 closed

[2015-08-19 14:37] phillip-haydon commented on #1204
Closing this since it's old and WCF and I hate WCF and this will prob never happen.

[2015-08-19 14:37] #1204 closed

[2015-08-19 19:49] thecodejunkie commented on #1658
@azhidkov @xt0rted @lund Sorry for the massive delay =( I just tired this on master, using the test and route that @azhidkov shared in the initial post and it worked flawless. So perhaps this was something we sorted after it was reported. If either of you are still having issues with this, please let us know. That said, I am closing this issue now.

Thank you

[2015-08-19 19:50] #1658 closed

[2015-08-19 22:40] AlexDsp opened #2018 "special characters response issue."
var str= "✈️ From Osaka to Okinawa 🎌";
return new TextResponse(str,"text/html");

result
?? From Osaka to Okinawa ??

[2015-08-19 23:51] khellang commented on #2018
I just tested the following:

1. New console application
2. Install `Microsoft.Owin.SelfHost`
3. Install `Nancy.Owin`
4. Run the following code:

[code]

Sending a request to `http://localhost:8080/` results in the following response:

This is not a Nancy error or bug, it's probably the way your browser handles encoding or something.

[2015-08-20 00:00] AlexDsp commented on #2018
im running on Microsoft.Owin.Host.SystemWeb

[2015-08-20 05:20] xt0rted commented on #2018
I'm seeing the same results with the systemweb host. If I change the response to include `Encoding.Unicode` then it works in IE but not in FF or Chrome. If I put the text in a razor view it shows fine in all browsers.

Trying this as middleware produces the same results. After playing with it some I was finally able to get it to work in all browsers with this.
[code]

This lead to trying it in Nan

[2015-08-20 05:39] xt0rted commented on #2018
[According to the W3C](http://www.w3.org/International/O-HTTP-charset#charset)

It looks like IE will try to auto select a character set when one isn't set, while the other browsers don't and stick to the default.

[2015-08-20 06:32] thecodejunkie commented on #1822
Pushed #2019 to fix the issue reported by @samwa

This problem can only happen if `StaticConfiguration.DisableErrorTraces` is explicitly set to `true` or if you are running in debug mode (nancy will detect that and set `DisableErrorTraces` value). Should be resolved when the fix is pulled in

[2015-08-20 06:41] khellang commented on #2018
So there might actually be something we can do about this, then?

[2015-08-20 07:15] xt0rted commented on #2018
@khellang when using `TextResponse` we can append the charset if it's not UTF8. The supplied [encoding](https://github.com/NancyFx/Nancy/blob/22a3eeef3b5abfb48f06855ceda8d7434a2b4321/src/Nancy/Responses/TextResponse.cs#L32) is how we get the string's bytes but if you're not using UTF8 the browser won't know. This change would be similar to the [JsonResponse](https://github.com/NancyFx/Nancy/blob/2

[2015-08-20 07:16] phillip-haydon commented on #1830
@OZCMRDM can we have some more information please.

Can you link us to where this is being registered and what the scenario is you're experiencing. Something that helps us reproduce the problem you're having.

I don't really understand the problem at the moment.

[2015-08-20 07:42] khellang commented on #2018
:cool: Submitted #2020 :grin:

[2015-08-20 07:56] thecodejunkie commented on #1830
Yes, do not quite understand the scenario where this would happen?

[2015-08-20 08:16] jchannon commented on #2018
nice work chaps

[2015-08-20 08:51] thecodejunkie commented on #1955
Going to close this for now because I cannot reproduce it

If you are using the Razor view engine, then you should use `@Url.Content("~/......")` for content paths and if you are using SSVE then the equivalent is `@Path['~/....']`

Should this still be an issue for you, please comment and re-open the issue.

Thank you

[2015-08-20 08:51] #1955 closed

[2015-08-20 08:52] thecodejunkie commented on #1830
Removing the `Bug` label from this and closing it for now. This is working as intended, i.e it is a design choice. Should you have more information to provide about this use case and why it should be changed, please post it here and we will re-evaluate it for a future release.

Thank you

[2015-08-20 08:52] #1830 closed

[2015-08-20 11:23] thecodejunkie commented on #1837
Related to #2011

https://github.com/NancyFx/Nancy/pull/2011#issuecomment-132979264

[2015-08-20 11:23] #1837 closed

[2015-08-20 11:59] OZCMRDM commented on #1830
I want 1 diagnostic provider instance per entity type/service that I have (i.e. a generic diagnostic provider). This doesn't work though since the provider registration is per type.

[2015-08-20 12:01] thecodejunkie commented on #1830
@OZCMRDM please provide a bit of code that illustrates what you want to do. Thanks

[2015-08-20 12:03] phillip-haydon commented on #1830
I assume that `IDiagnosticProvider` is your own interface? I don't believe Nancy has any such type? And you would like to register many different instances.

Do they need to be named? Because you can register a collection of a specific type.

If you need named dependencies then you will need to use a different IoC container with Nancy, like StructureMap.

[2015-08-20 12:05] thecodejunkie commented on #1830
@phillip-haydon hehe c'mon [IDiagnosticsProvider](https://github.com/NancyFx/Nancy/blob/master/src/Nancy/Diagnostics/IDiagnosticsProvider.cs) :-D

[2015-08-20 12:07] OZCMRDM commented on #1830
Something like this won't work (sorry forgot it isn't actually generic - but you see what I mean).

  class ServiceDiagnosticsProvider : IDiagnosticsProvider
    {
        public string Description
        {
            get { return null; }
        }

        public ServiceDiagnosticsProvider(object diagnosticObject)
        {
            DiagnosticObject = diagnosticObject;
        }

        pub

[2015-08-20 12:13] thecodejunkie commented on #1830
That was never their designed use case. All instances of `IDiagnosticsProvider` are automatically discovered and wired up. This is not something that we currently support. The correct way to move forward with this is to use a compound key like

[code]

And use that as the key instead. That would solve your problem, correct (we would, of course, have to put that code into Nancy before it would work

[2015-08-20 12:20] OZCMRDM commented on #1830
Yes, that is a Nancy code change that would solve the issue.

[2015-08-20 12:55] thecodejunkie commented on #1830
Sent a pull-request #2024 that will enable you to do this in v1.3

[2015-08-20 13:03] #1822 closed

[2015-08-20 14:07] felipeleusin commented on #1995
I'm pretty sure you can use some auth middleware before both SignalR and Nancy and in Nancy use https://github.com/NancyFx/Nancy.MSOwinSecurity for handling the security and I think SignalR just works with Owin auth.

[2015-08-20 14:11] Vadi commented on #1742
Is there any solution to this issue? I am trying to compile Nancy in Mac OSX.

[2015-08-20 14:20] khellang commented on #1742
I think #1956 will address this?

[2015-08-20 14:22] lijunle commented on #1951
However, I just resolve it without test. :dog:

[2015-08-20 14:22] khellang commented on #1742
BTW, Travis builds Nancy on UNIX on every commit on master, so it can't be that bad :wink:

[2015-08-20 15:08] damianh commented on #1995
`Nancy.MSOwinSecurity` provides integration with `Microsoft.Owin,Security`. Specifically, it gives you access to `IAuthenticationManger`. It also allows you to use `ClaimsPrincipal` instead of Nancy's `IUser` (Nancy v2 will use `ClaimsPrincipal` and drop `IUser`). The [readme](https://github.com/NancyFx/Nancy.MSOwinSecurity#how-to-use) has example of usage.

As @felipeleusin, signalr will just con

[2015-08-20 15:23] AlexDsp commented on #2018
i tried manually including charset=utf-16 / utf-8 , Encoding.Unicode /etc...
still not working for me....
in webapi there are no issues with this...it just works.
i'll dig in later today, i suspect the problem is buried somewhere deep.

[2015-08-20 22:43] jarred-s commented on #1742
The fix for me on the pi was to force albacore version 1.0.0.rc2.

Anything newer or older would fail.

[2015-08-20 23:05] khellang commented on #1742
Yeah, it's very picky; https://github.com/NancyFx/Nancy/blob/5dc9e2a179c5f3a50f6caf238d0341cdd2dd1474/.travis.yml#L12

[2015-08-21 00:10] AlexDsp commented on #2018
ok so i got xt0rteds code working after saving the document in utf-8 encoding (vs2013).
still didnt find a solution for json response;

im getting facebook posts from the graph api, those posts contain special chars, im trying to pass the json to the client;

     var postsJson = await GetPosts(token); // json from facebook
     var jObject = new JObject { { "posts", postsJson } }; // newtonsoft j

[2015-08-21 11:13] thecodejunkie commented on #1793
I see this as a multi-facetted thing. It's not as trivial as just being able to prevent auto-registration or not. The reson is that Nancy has it's own implementations of these interfaces and the bootstrapper, indiscriminately, registers them in the container. So what we _probably_ should be doing for the `ConfigurableBootstrapper` is to prevent auto-regiration of user-defined implementations, whil

[2015-08-21 15:00] thecodejunkie commented on #1793
Added a pull-request for this #2026

[2015-08-21 21:18] thecodejunkie commented on #1750
Re-assigning this to `v2.0`. The `NancyConventions` aren't pulled out of the container in the current design of the bootstrapper and changing it is a bit problematic. However with the introduction of the new configuration api (#1999) out plan is to migrate the `NancyConventions` over to that, making it possible to take ctor dependencies, hence we can then add support for putting `IConvention` into

[2015-08-21 21:23] #1951 closed

[2015-08-21 21:36] thecodejunkie commented on #1950
@hmemcpy what, exactly, did you have in mind? Looking at it, there's not a lot of things we could lift up. Maybe a bit about the request (path, method, schema, port) and that's about it?

[2015-08-22 11:09] thecodejunkie commented on #183
Handled in #547

[2015-08-22 11:10] #221 closed

[2015-08-22 11:10] #523 closed

[2015-08-22 11:11] thecodejunkie commented on #1680
This is handled differently now. 1.x is .NET 4 compatible and 2.x if 4.5+

[2015-08-22 11:11] #1680 closed

[2015-08-22 11:13] albertjan commented on #183
But #547 was never merged. :smile:

[2015-08-22 11:34] thecodejunkie commented on #183
Oh you are right.. a quick glance made me think it was :P

[2015-08-22 12:50] phillip-haydon commented on #1974
This is because you need to include all the Razor Config for where your models are.

https://github.com/NancyFx/Nancy/wiki/Razor-View-Engine#configuring-razor

Was just testing it now, reproduced, added config, error goes away. Using 4 layouts deep.

[2015-08-22 12:50] phillip-haydon commented on #1974
Closing issue for now.

[2015-08-22 12:50] #1974 closed

[2015-08-22 22:19] #1608 closed

[2015-08-22 22:19] #732 closed

[2015-08-22 22:20] #1486 closed

[2015-08-22 22:20] #435 closed

[2015-08-22 22:21] #939 closed

[2015-08-22 22:22] thecodejunkie commented on #979
@grumpydev do you know if we ever resolve this?

[2015-08-22 22:22] #958 closed

[2015-08-22 22:23] #966 closed

[2015-08-22 22:23] #1002 closed

[2015-08-22 22:24] #1082 closed

[2015-08-22 22:24] thecodejunkie commented on #1080
@damianh what about this? Resolved? Close?

[2015-08-22 22:24] #1091 closed

[2015-08-22 22:25] thecodejunkie commented on #1109
I think the proper solution to this is #2020

[2015-08-22 22:25] #1109 closed

[2015-08-22 22:26] thecodejunkie commented on #1143
v2.x will be 4.5+

[2015-08-22 22:26] #1143 closed

[2015-08-22 22:26] #1382 closed

[2015-08-22 22:27] #1317 closed

[2015-08-22 22:27] #1281 closed

[2015-08-22 22:38] thecodejunkie commented on #1221
@damianh Did anything ever happen to this? Still something we want/should do? Close? Thanks

[2015-08-22 22:38] thecodejunkie commented on #1193
Fixed by #1192

[2015-08-22 22:38] #1193 closed

[2015-08-22 22:39] #1203 closed

[2015-08-22 22:39] #1185 closed

[2015-08-23 03:51] #1254 closed

[2015-08-23 06:48] damianh commented on #1221
Yes I believe so. I'll examine it again.

[2015-08-23 06:56] damianh commented on #1080
Fixed via [`Nancy.MSOwinSecurity`](https://github.com/NancyFx/Nancy.MSOwinSecurity)

[2015-08-23 06:56] #1080 closed

[2015-08-23 08:08] thecodejunkie commented on #1465
@khellang This should be closed right? Because of this https://github.com/NancyFx/Nancy.Bootstrappers.Unity/pull/9

[2015-08-23 08:09] #1417 closed

[2015-08-23 08:09] #1515 closed

[2015-08-23 08:10] #1523 closed

[2015-08-23 10:30] khellang commented on #1465
I think so.

[2015-08-23 10:31] #1465 closed

[2015-08-23 11:36] #545 closed

[2015-08-23 11:37] thecodejunkie commented on #545
This has not been a highly requested feature and we've left the possibly, of it happening, open for 3 years now. Time to put this out to pasture :)

[2015-08-23 11:38] thecodejunkie commented on #481
We've left this hanging for 3 years, there's not been any requests to have it happen. If we decide to do it in the future, we can create a new issue. :heart:

[2015-08-23 11:38] #481 closed

[2015-08-23 11:39] thecodejunkie commented on #495
Yeah, this can be closed for sure :heart:

[2015-08-23 11:39] #495 closed

[2015-08-23 11:40] thecodejunkie commented on #727
If this is going to happen then it will be in the v2.x timeframe so I've put it in that milestone

[2015-08-23 11:40] #794 closed

[2015-08-23 11:41] #847 closed

[2015-08-23 11:45] thecodejunkie commented on #877
Putting this in the v2.x timeframe as it would be a good fit for the new configuration API #1999 #2000

[2015-08-23 11:55] thecodejunkie commented on #879
Happy to see a pull-request for this by someone in the community. I don't see us doing this atm without revisiting the model binding as a whole

[2015-08-23 11:55] #879 closed

[2015-08-23 11:56] thecodejunkie commented on #1223
Let's target this for the v2.x timeframe. Milestone assigned accordingly

[2015-08-23 11:58] #1235 closed

[2015-08-23 11:59] thecodejunkie commented on #1202
@damianh @grumpydev something for 2.x and the TPL & await/async change?

[2015-08-23 12:01] thecodejunkie commented on #1244
`IUserIdentity` is being deprecated for our v2.x release in favor of `ClaimsPrincipal` from .NET 4.5

[2015-08-23 12:01] #1244 closed

[2015-08-23 12:02] thecodejunkie commented on #1212
@khellang you closed #1213 without a merge.. mistake? I guess the validity of this issue relies on that :) Thanks

[2015-08-23 12:03] thecodejunkie commented on #1624
Closed with reason given in my previous comment

[2015-08-23 12:03] #1624 closed

[2015-08-23 12:04] thecodejunkie commented on #1630
@grumpydev https://github.com/NancyFx/Nancy/issues/1630#issuecomment-50317407 =) Close ?

[2015-08-23 12:08] Vidarls commented on #1235
Solved or "won't fix"?

[2015-08-23 13:51] damianh commented on #1223
Breaking change would mean v3?

[2015-08-23 13:55] damianh commented on #1202
Yes 2.x

[2015-08-23 14:05] phillip-haydon commented on #1630
No one else has reported this issue and this issue seems dead. If not putting the new line doesn't cause it to hang then we shouldn't worry about trying to handle a deviation of the specification. IMO.

Closing for now.

[2015-08-23 14:05] #1630 closed

[2015-08-23 15:16] grumpydev commented on #1630
+1 FWIW 😊

[2015-08-23 16:17] thecodejunkie commented on #1223
No, v2 because we'll bump the major

[2015-08-23 19:20] khellang commented on #1212
Part of this was solved with #1348. I'll take a look at the rest ASAP.

[2015-08-23 22:46] masaeedu commented on #1959
@janus007 I've been using the latest `Nancy` and `Nancy.Owin`, along with the `UseOwin` extension method available in the [Microsoft.AspNet.Owin](https://www.nuget.org/packages/Microsoft.AspNet.Owin) package, and things seem to have been running smoothly so far. I'll re-emphasize that this is DNX **451**, i.e. running on the full CLR. Here's what my Startup class looks like:

    class Startup

[2015-08-23 23:33] khellang commented on #1959
@masaeedu You know that we provide an extension method for the `AddMiddleware` delegate in ASP.NET 5, so you can do

[code]

[2015-08-24 00:29] masaeedu commented on #1959
@khellang Ah, I didn't realize there was a `UseNancy` for the "MidFunc eater" delegate. Apologies for any misinformation.

[2015-08-24 05:14] damianh commented on #1864
No consensus. I still think it needs to be fixed.

[2015-08-24 13:28] samal84 commented on #2006
Ok first Github pull Request. Did I do it right?

https://github.com/NancyFx/Nancy/pull/2030

[2015-08-24 13:34] #2006 closed

[2015-08-24 20:22] thecodejunkie commented on #1235
@Vidarls Both? Neither? :) We've not seen this being reported from anyone else in 2 years now and neither of us run Continuous Test (though a couple of us run NCrunch without experiencing the exception). Do you know if it still happens with the latest versions of Continuous Test and Nancy? I'm guessing that it loads an assembly into the appdomain when it starts up and then Nancy finds it in the bi

[2015-08-24 20:24] #747 closed

[2015-08-24 20:25] thecodejunkie commented on #1385
We continuously audit our code, no need for us to have a long running open issue for it

[2015-08-24 20:25] #1385 closed

[2015-08-24 20:25] thecodejunkie commented on #1384
We continuously audit our code, no need for us to have a long running open issue for it

[2015-08-24 20:25] #1384 closed

[2015-08-24 20:25] #1416 closed

[2015-08-24 20:26] thecodejunkie commented on #600
Let's reopen this if/when this happens

[2015-08-24 20:26] #600 closed

[2015-08-24 20:27] #1498 closed

[2015-08-24 20:58] thecodejunkie commented on #1933
Unfortunately there is no way to get a hold of the module name / type from the request pipeline. The closest you could do is

[code]

and then you can access `.Route` on the result to get some basic information like the method, path and so on.

I will look into adding it to the information, shouldn't be too hard

[2015-08-24 21:27] thecodejunkie commented on #1933
Had a look at this is a bit tricky to bake in at the moment. The best advice I can give right now is to use the code above and check the route and apply a base-path route naming convention.

[2015-08-24 21:27] #1933 closed

[2015-08-24 21:36] thecodejunkie commented on #868
Investigated this further and it is going to have a huge impact on how our hosts consume Nancy. This is probably not going to happen in the 1.x time frame nor the 2.x time frame

[2015-08-24 21:36] #868 closed

[2015-08-24 21:39] #733 closed

[2015-08-24 21:54] thecodejunkie commented on #1405
@grumpydev @jchannon Would this be solved if the `CryptographyConfiguration` was set to use `MachineKeyEncryptionProvider` and `MachineKeyHmacProvider` ? If not, then how would be reproduce this locally so we could trace down the cause?

[2015-08-24 21:54] thecodejunkie commented on #1405
This should either be resolved or closed in the 1.x milestone

[2015-08-24 21:56] thecodejunkie commented on #1576
Decided that we cannot really police this in a good way. Thanks

[2015-08-24 21:56] #1576 closed

[2015-08-24 22:10] #1455 closed

[2015-08-24 22:10] thecodejunkie commented on #1434
This is resolved

[2015-08-24 22:10] #1434 closed

[2015-08-25 02:30] #1397 closed

[2015-08-25 02:32] phillip-haydon commented on #868
This could easily be done as an extension method anyway. I wrote one for my project that does: `file.Value.UploadToAzure();`

[2015-08-25 04:12] #1547 closed

[2015-08-25 04:18] phillip-haydon commented on #1576
Personally I think this is more of an issue with NuGet itself rather than us. NuGet website makes it too easy to not be obvious about where the package comes from.

[2015-08-25 09:46] #1212 closed

[2015-08-25 10:45] Vidarls commented on #1235
I'm happy with workarounds for special case issues :)

It's been some time since I've been doing Nancy projects, but there is one coming up, I'll see how it works out.

Thanks for taking the time to reply.

[2015-08-25 13:02] thecodejunkie commented on #868
The problem is getting access to the `IRootPathProvider` but I can be done and it can be done without it as well

[2015-08-25 13:08] felipeleusin commented on #1950
From looking here I would make ModelValidationResult show IsValid and maybe DynamicDictionary get a JSON notation? So things like parameters show like { userId = "fooo" }

[2015-08-25 15:18] felipeleusin commented on #1793
:+1: I even opened an issue for this a while ago #1812
Looking forward to it

[2015-08-25 15:34] #1812 closed

[2015-08-26 07:44] #1793 closed

[2015-08-26 07:46] #1953 closed

[2015-08-26 08:03] #1742 closed

[2015-08-26 08:06] thecodejunkie commented on #1686
I think there were some major pains to upgrade to v2.x so we've not really bothered (bigger fish to fry, not enough gain and things like that). We would ofc be happy to take a pull-request that performed the upgrade (we would in the long run have to update all other repos as well since we use RAKE for them as well)

[2015-08-26 08:07] thecodejunkie commented on #796
Closed. See #798 for more details

[2015-08-26 08:07] #796 closed

[2015-08-26 08:09] thecodejunkie commented on #1594
So you guys agreed on a solution, but never implemented it? :smiley_cat:

[2015-08-26 08:10] thecodejunkie commented on #1629
@jchannon isn't this just the classic ".net trying to be smart with assembly references problem?

[2015-08-26 08:12] thecodejunkie commented on #734
Closed due to death by old age. If anyone cares to take a stab at this, please feel free :heart:

[2015-08-26 08:12] #734 closed

[2015-08-26 08:12] thecodejunkie commented on #282
Closed due to death by old age. If anyone cares to take a stab at this, please feel free :heart:

[2015-08-26 08:12] #282 closed

[2015-08-26 08:12] thecodejunkie commented on #183
Closed due to death by old age. If anyone cares to take a stab at this, please feel free :heart:

[2015-08-26 08:12] #183 closed

[2015-08-26 08:12] thecodejunkie commented on #321
Closed due to death by old age. If anyone cares to take a stab at this, please feel free :heart:

[2015-08-26 08:12] #321 closed

[2015-08-26 08:30] jchannon commented on #1594
I don't know, is that the solution?

On 26 August 2015 at 09:09, Andreas Håkansson <notifications@github.com>
wrote:

[2015-08-26 08:32] #1629 closed

[2015-08-26 08:35] albertjan commented on #734
@thecodejunkie I'm hurt! :smile: I actually did https://github.com/NancyFx/Nancy/pull/637.

Seriously this is all good. Owin.CORS does a fine job.

[2015-08-26 12:21] thecodejunkie commented on #1729
Closing this with @liddellj blessing :grin:

[2015-08-26 12:21] #1729 closed

[2015-08-26 14:57] tparnell8 commented on #1686
is anyone tackling this? I'd love to take it on. I am a fairly big fan of Ruby and Albacore

[2015-08-26 16:30] phillip-haydon commented on #1686
@tparnell8 nope, based on what @thecodejunkie said, you're free to do it. :)

[2015-08-26 16:38] phillip-haydon commented on #1575
I don't see any reason why this wouldn't work, however this issue seems dead in the water. I did test the diagnostics myself in a sub directory and it works, but I don't have IIS to test with sub applications.

[2015-08-26 16:38] #1575 closed

[2015-08-26 16:39] grumpydev commented on #1686
Just bear in mind that Nancy.Build has the repo with the main build script of doom in it 😊

[2015-08-26 16:50] phillip-haydon commented on #1722
The example above wouldn't work because it doesn't conform to the way we handle regular expressions in routes.

Greedy Regex routes need to begin with `^(` and end with `)$` or `)`, while Regex routes must start with `(` and end with `)`.

https://github.com/NancyFx/Nancy/wiki/Defining-routes

At a glance I would assume your route needs to look like;

`^(?:\/[\w\/\-\%]+-c(?<id>\d+)(?:\/(?<page>\d{

[2015-08-26 16:50] #1722 closed

[2015-08-26 16:55] phillip-haydon commented on #1206
This is a problem with SS which is now under a paid model for V4 onward so the likely hood of this ever being fixed and supported in Nancy is slim to none. So I'm closing this.

[2015-08-26 16:55] #1206 closed

[2015-08-26 17:10] albertjan commented on #1206
:+1:

[2015-08-26 21:28] albertjan commented on #1502
I don't mind if this is closed. Newtonsoft.Json does this fine. Nobody probably wants to repeat that work in the internal json deserializer. (maybe we can nick a new one from mono that does this better.)

[2015-08-26 21:45] #1502 closed

[2015-08-26 21:45] khellang commented on #1502
:smile:

[2015-08-27 01:20] tparnell8 commented on #1686
Alright I'd be down for a challenge.

[2015-08-27 06:13] phillip-haydon commented on #1377
We don't need separate nodes to add functionality.

i.e

`/movies/page/{page:int}/`

`/movies/page/{id:int|0}/`

These are the same node, but the 2nd one has a default value specified with the type constraint. Saying I require an int value, but if no value was here, use 0 as the default.

`/movies/page/{id:int?}/`

Again we are just saying check the constraint but if it's not there its optional so

[2015-08-28 17:36] i255 opened #2038 "UrlReservations.CreateAutomatically fails if port is 80"
If uri port is 80 Nancy tries to execute the following command:
`netsh http add urlacl url=http://+/ user=Everyone`
which produces:
Url reservation add failed, Error: 87
The parameter is incorrect.
netsh requires the port number. instead of just using `uri.ToString()` which omits the port number if port is 80 one should do something like this: `uri.Scheme + Uri.SchemeDelimiter + uri.Host + ":" + u

[2015-08-28 20:53] khellang commented on #2038
Thanks for reporting! :+1: I have a fix pending at #2039 :smile:

[2015-08-28 21:29] bsommardahl opened #2040 "NullReferenceException when testing with context factory."
My test code:

[code]

My test context factory is this:
[code]

I am getting the following exception:

[code]

Now, I understand that I might be doing something wrong. But a null ref isn't be the error that will help me know what to do to fix my code.

[2015-08-28 21:42] khellang commented on #2040
The implementation is clearly breaking the "contract" of the `INancyContextFactory` which requires the implementation to fully populate the returned `NancyContext`, which includes at least passing it the given `request`. I agree that the API should've enforced it better though. Preferably through the `NancyContext` ctor.

Not passing the request yields a null reference at https://github.com/NancyF

[2015-08-28 21:46] khellang commented on #2040
I'm really not sure what we can do to protect against this though. Yes, in this case we can force the request being set by adding it as a parameter to the `NancyContext` ctor (which would be a major breaking change at this point), but what this boils down to is simply *always* checking *everything*, for a null reference, *everywhere*. At the end of the day, it's impossible to "protect" the users f

[2015-08-28 21:48] bsommardahl commented on #2040
@khellang What do you think of that patch?

[2015-08-29 15:58] phillip-haydon opened #2042 "Super Simple View Engine should encode by default"
This is more of a reminder for V2.0

Currently HTML encoding values is Opt In instead of Opt Out. HTML Encoding should always be Opt Out.

[2015-08-29 18:16] #2040 closed

[2015-08-29 18:33] jonathanfoster opened #2043 "How to build instructions reference incorrect version of Albacore"
The how to build instructions (`/src/how_to_build.txt`) recommend installing the latest version of Albacore, but Rake fails when using the latest version with the error message `NameError: uninitialized constant Albacore::Task`. The [Travis build script](https://github.com/NancyFx/Nancy/blob/5dc9e2a179c5f3a50f6caf238d0341cdd2dd1474/.travis.yml#L12) forces version 1.0.0.rc2. The build instructions

[2015-08-29 21:39] cody82 opened #2044 "SelfHost should be able to bind to any address"
See #405.

The self host currently is not able to bind to any address.

To do that you need to pass an prefix like this "http://*:12345" to HttpListener. But Uri dose not accept such strings.

It still does not work for me...

[2015-08-29 21:46] grumpydev commented on #2044
Use localhost and make sure RewriteLocalhost is true (its the default) - this is covered in the docs in the wiki.

[2015-08-29 21:46] #2044 closed

[2015-08-30 13:47] jonathanfoster commented on #2043
[PR 2045](https://github.com/NancyFx/Nancy/pull/2045) resolves this issue.

[2015-08-31 09:15] #2038 closed

[2015-08-31 18:45] c0bra opened #2046 "Unable to get Self-Hosting to work in fresh project"
After several hours of debugging I've hit a wall trying to get Self-hosting to work in a console app project.

Here's how I've tried setting it up:

1. Using "http://localhost:8888/" as the Uri (also have tried other port numbers)
2. Using "http://localhost:8888/test/" as the Uri so there's a path on it
2. Tried turning  Rewritelocalhost on and off
3. Tried setting UrlReservations.CreateAutomatica

[2015-08-31 19:01] khellang commented on #2046
Tried running as admin?

[2015-08-31 20:03] c0bra commented on #2046
Yep.

On Mon, Aug 31, 2015, 2:01 PM Kristian Hellang <notifications@github.com>
wrote:

[2015-08-31 20:58] khellang commented on #2046
This is super weird. It's definitely something with your machine/environment. I just set up a self-hosted console app in 2 min...

[2015-09-01 02:08] staff0rd commented on #1515
I had this problem too.  I compared my web.config to the one provided by @synhershko.  I was missing the following under `System.Web`, and upon adding it I no longer got the YSOD;

    <httpRuntime targetFramework="4.5" />

[2015-09-01 10:09] damianh commented on #2046
@c0bra post your attempt to git hub so we can attempt to reproduce.

[2015-09-03 18:12] #2043 closed

[2015-09-04 08:58] TiagoOliveiraMarques commented on #1437
Some time has passed since the last post but I had the same problem as described here and I made a simple library for that purpose.
For those interested, here is the [repo](https://github.com/lifeemotions/websocketproxy)

[2015-09-05 19:20] Furgas opened #2048 "Response.FromStream with Bson serializer"
I'm using Newtonsoft.Json to return some data in BSON format. Following code returns 0 bytes in response:
[code]

I have to modify this code as below to return the serialized data:
[code]

Is this normal?

[2015-09-05 21:37] khellang commented on #2048
Just to be clear; is is the `ToArray` call, the `Seek` call or both that makes this work?

I bet it's the `Seek` call. `FromStream` probably expects a rewinded stream and starts reading from current position, while the `BsonWriter` leaves the stream position at the end.

[2015-09-06 03:06] donnyv opened #2049 "Seeing performance issues with Forms Auth."
I'm using Forms Auth. with my Nancyfx project and used JetBrain dotTrace tool to see where the hot spots are. These are the top spots.
![capture](https://cloud.githubusercontent.com/assets/2224189/9702227/8b91e734-5422-11e5-95e3-d4c9ebebe15c.JPG)

The Bcrypt library is mine but the others are used by Forms Auth.
Has anyone else seen issues with these? What am I doing wrong?

[2015-09-06 05:32] grumpydev commented on #2049
Enable forms auth on app startup, not request startup.

[2015-09-06 09:17] Furgas commented on #2048
Yes, indeed `Seek` is enough for this to work. I guess, you're right, that `FromStream` is not rewinding a stream. Thanks.

[2015-09-06 09:17] #2048 closed

[2015-09-07 14:31] franhoey opened #2050 "install.ps1 errors when installing Nancy.Viewengines.Razor.1.2.0 via Nuget"
When I update or install Nancy.Viewengines.Razor.1.2.0 via nuget I get the following errors from install.ps1:

I'm on a fresh install of Windows 10 and Visual Studio 2015

[2015-09-07 19:31] #1950 closed

[2015-09-07 19:53] donnyv commented on #2049
Spot on! I set this up when I first put the project together a while ago. I wonder why I put it in request startup? Thank You!

[2015-09-07 19:53] #2049 closed

[2015-09-08 08:28] khellang commented on #2050
Hmm. This package seems to know a bit too much about NuGet, which has now changed significantly with V3 (shipped in Visual Studio 2015). We'll have to think about this...

[2015-09-08 16:52] yishaigalatzer commented on #2050
As @khellang is saying, this package is relying on internal implementation details of NuGet 2.X, which is why it fails running `install.ps1` with NuGet3.

Short term - NuGet for web projects still uses packages.config across all web projects.
Longer term - We are tracking adding items like content and scaffolding (including transforms) to project.json scenarios, to make the web scenario applicable

[2015-09-08 17:24] thecodejunkie commented on #2050
The problem is that we need to put a post-build step into the project so that we can copy a bundled dll file to the bin folder. This is not something that we invented, but it's the rather stupid design of Razor design time support.

[2015-09-08 17:38] khellang commented on #2050
@thecodejunkie This can be done like this;

https://github.com/khellang/ResourceHelperGenerator/blob/b14c638c956f902a9fa4a744d1b9139a0ca1d210/targets/ResourceHelperGenerator.targets
https://github.com/khellang/ResourceHelperGenerator/blob/b14c638c956f902a9fa4a744d1b9139a0ca1d210/ResourceHelperGenerator.nuspec#L19

Except this is a pre-build hook. It should be easy to do with targets.

[2015-09-08 23:00] ayoung opened #2052 "OnError does not run when compiling to Release"
I have a [commit on my fork](https://github.com/ayoung/Nancy/commit/5a318b580522c6dec2a715e60c1d07954cfb9527) that demonstrates that when you get an error in a view (in my case, a KeyNotFoundException), the OnError pipeline will not be run when it is compiled to Release mode. This works in Debug though.

In the example, if you run it in Release, you will notice that the exceptions fall through. It

[2015-09-08 23:53] ayoung commented on #2052
Ok. I've narrowed it down to `StaticConfiguration.DisableErrorTraces`. With this true, which is the case in release mode, it will skip all the error handling and status code handlers.

[2015-09-09 06:33] grumpydev commented on #2052
It's not a bug, it's by design (albeit a contentious one) - the creation of the body of a Nancy response is deferred until the host asks for it, this is to avoid unnecessary work if the host never asks for it, or if the request is a HEAD request. In terms of views, this results in the second stage of the view engine's work,. where it actually plugs values into a compiled template, being done *afte

[2015-09-09 06:33] #2052 closed

[2015-09-09 07:43] ayoung commented on #2052
I can see why this is contentious. The interface/contract with regards to the `OnError` pipeline and `IStatusCodeHandler` is completely misleading especially when you expect these two features to work in release mode without giving it much thought. In order to have custom status code pages (404, 500s) on production (release), or to be able to react to view errors, the dev must to know about this d

[2015-09-09 07:46] grumpydev commented on #2052
Believe me, you're preaching to the choir here :)

Updating the docs would be great, thanks - if you want to send a PR to make that materialisation happen on its own flag, rather than piggy backing on the error traces one, that'd be cool too.

[2015-09-09 18:34] ayoung commented on #2052
Great. Added notes in the wiki.

[2015-09-10 11:31] jchannon commented on #1892
I think this has been fixed in #2015

[2015-09-10 11:31] #1892 closed

[2015-09-10 11:33] jchannon commented on #1987
Has this been fixed by #2015 or #2053 ?

[2015-09-12 09:46] thecodejunkie commented on #1996
Moving this to 1.4 to be on par with #2001

[2015-09-12 13:02] grumpydev commented on #979
Not that I recall.. Easy to check with a breakpoint though 😊

[2015-09-12 16:08] thecodejunkie opened #2054 "Rewrite request header parsing"
We could do with a bit of caching when we parse the request headers. Currently they're being re-parsed each time any of the members on `RequestHeaders` are invoked.

[2015-09-12 16:09] thecodejunkie commented on #979
Closing this. We need to do #2054 instead as this is not specific for content negotiation.

[2015-09-12 16:09] #979 closed

[2015-09-14 20:34] #1889 closed

[2015-09-15 06:58] phillip-haydon opened #2058 "Possible bug deserializing GUIDs with internal json serializer"
http://stackoverflow.com/questions/32550651/custom-validationattribute-in-nancyfx-is-not-being-recognized-or-used/

Saw this on stack overflow, looks like a possible bug when non-guids are being deserialized are failing.

[2015-09-17 15:56] adamdriscoll opened #2060 "Discrepancy between Nancy host and Nancy Testing"
I have an issue where a particular URL works fine in my Nancy host during integration but not during unit testing. The problem is I have a URL that checks for the existence of a query parameter and returns a little more data depending on that URL.

Something like this:
"/api/application?icons=true"

This works fine when querying it from our REST client. While executing the same URL in our Nancy Te

[2015-09-17 19:08] thecodejunkie commented on #2060
If you want to pass in a query-string value, during test, please use the `.Query` method on the Browser.

Here's an example

[code]

[2015-09-17 20:04] adamdriscoll commented on #2060
Works great. Thanks!

[2015-09-17 20:04] #2060 closed

[2015-09-24 19:06] #1280 closed

[2015-09-24 19:06] thecodejunkie commented on #1280
This is unsolveable .. all framework suffer from this on all platforms

[2015-09-24 19:10] thecodejunkie commented on #2058
Bug in the Mono serializer that we use. Solution is to use another of the json serializers instead

[2015-09-24 19:10] #2058 closed

[2015-09-24 19:11] thecodejunkie opened #2061 "Replace the internal json serializer with SimpleJson"
- [ ] Switch out JSON Serialization for SimpleJson
- [ ] Update contract and ensure dynamic binding works

[2015-09-24 19:17] thecodejunkie commented on #2016
It's a bug, only happens in Debug-mode. We will supply a fix in 1.4

[2015-09-24 19:35] jchannon commented on #1791
@thecodejunkie @grumpydev @damianh witnessed me crying on Skype when they forced me to close this. We may look at it in the future as quite a change is required to register these in RequestContainer

[2015-09-24 19:35] #1791 closed

[2015-09-24 19:45] thecodejunkie commented on #1160
Placed in 2.x .

Reminder to self: have an old spike in a local branch called conneg-mediarange-response-model :yum:

[2015-09-24 19:47] damianh commented on #1829
Tested this with the `Microsoft.Owin.Host.HttpListener` with actual HTTP requests.

[code]

All test passed

![image](https://cloud.githubusercontent.com/assets/57436/10084772/8406f620-6305-11e5-9492-47cd8c9668d7.png)

I strongly suspect the problem is with IIS and/or the SystemWeb dealing with the request because it thinks its a file. If you must use IIS, try this host: https://www.nuget.org/pack

[2015-09-24 19:47] #1829 closed

[2015-09-24 20:23] #2016 closed

[2015-09-24 20:24] thecodejunkie commented on #2016
Fix applied in 1.3 :smile:

[2015-09-25 12:20] #2054 closed

[2015-09-25 18:01] Infernno opened #2064 "System.MissingMethodException when running Nancy with Mono"
Hello guys.
I have a small problem when running Nancy with **Mono** under Windows & Linux.
The application fails to start due to **MissingMethodException**. This happens when you are trying to define the conventions in the bootstrapper.

This is how it looks:
![Error](https://cloud.githubusercontent.com/assets/7915327/10107471/896c26ea-63e5-11e5-9292-9dc527a73a92.PNG)

In anyway, simple repro proj

[2015-09-25 19:41] khellang commented on #2064
I'm not sure what's happening here. Nancy is built against .NET 4.0, which doesn't have `Array.Empty`. That's an API that was added in .NET 4.6.

[2015-09-25 19:42] thecodejunkie commented on #2064
Hi,

The short version is; this is not a bug in Nancy, it's a run-time framework / compiler issue. The `StaticContentConventionBuilder.AddDirectory` takes an optional parameter `params string[] allowedExtensions` and it's the `string[]` that is being handled incorrectly for some reason. To be honest I've not looked too deep into this, but if you search for [array.empty missingmethodexception](http

[2015-09-25 19:42] #2064 closed

[2015-09-25 19:43] khellang commented on #2064
This might actually be a compiler optimization. I guess when you call a `params T[]` method with no arguments, the compiler will generate a call using `Array.Empty<T>` in order to avoid any allocation.

[2015-09-27 13:58] ravensorb commented on #2061
As a suggestion what about replacing the internal serializer with a contract for serialization and then allow us to register which every serializer we want to use (SimpleJson, Json.NET, etc)?

[2015-09-27 14:01] ravensorb commented on #1954
Out of curiosity, how is v2 going?  I was looking at the branch and it seems like there have been no commits since march.

[2015-09-27 14:14] phillip-haydon commented on #2061
@ravensorb we already have a contract for that, which allows us to have Nancy.Serialization.JsonNet

https://www.nuget.org/packages/Nancy.Serialization.JsonNet/

The problem is we currently use the implementation from Mono to do serialization, which has numerous bugs in it. So the plan is to replace it with SimpleJson as the default.

[2015-09-27 14:30] phillip-haydon commented on #2046
Ahhh @c0bra - it might be easier to just use the Owin Self Host instead of the Nancy Self Hosting. Chances are you will have far fewer issues.

In any case this thread looks like it's dead now so I'll close it until further notice.

[2015-09-27 14:30] #2046 closed

[2015-09-29 14:58] tparnell8 commented on #1686
So I started working on this a little, but I keep getting side tracked by life, and other things. So I'm going to have to throw this back, because otherwise its going to take me another month or so before I will have a PR. Sorry everyone!

[2015-09-29 17:27] michaelrkn commented on #1688
Even simpler:

[code]

[2015-09-30 08:16] Zicore opened #2065 "Xml Root and Children with the same name failing serialization, but only giving back internal server error."
I accidentally had a C# model that had the same name for the Xml Root and some of it's children.
It turned out, that requests with this model only gave back HTTP Code 500 Internal Server error.

So I assume some kind of serialization problem, but I'm not sure if it's part of nancyfx.

[2015-10-01 03:00] mthird commented on #1767
For anyone still having this problem, I had to add the Raven.Abstractions assembly to the list.  Just replace the AutoRegisteredIgnoredAssemblies method with the following:

[code]

[2015-10-01 13:38] kspeakman commented on #1767
I upgraded to TFS 2015, and using the newer build process, I no longer have this issue.

[2015-10-03 00:00] jlennox opened #2067 "Not possible for Response implementations to write async content."
Proposed solution: In addition to `Action<Stream> Contents` there could be `Action<Task<Stream>> AsyncContents` which takes presidence when non-null.

An example of code that suffers from the non-presence of this feature: https://github.com/NancyFx/Nancy/blob/master/src/Nancy/Responses/StreamResponse.cs

[2015-10-03 00:14] khellang commented on #2067
:+1: This will be done as part of the 2.0 overhaul.

We're planning on dropping 4.0 support and go full-blown async/await all over the place.
The `Contents` property will most likely be a `Func<Stream, Task>` :smile:

I'll leave this open for tracking :watch:

[2015-10-03 18:54] jlennox opened #2068 "nancy.viewengines.razor nuget package has issues with build names with spaces."
"Debug" for example is ok, but "Mono Debug" would cause a compile time exception.

Incoming pull request.

[2015-10-03 19:55] #2068 closed

[2015-10-04 16:04] tpluscode commented on #1959
Hi. I've just created a bare-bone Nancy app in DNX 4.5.1 with a module in a separate class library. It turns out that Nancy cannot discover modules from that library, because the reference is actually not added until some code actually referenced. The typical way Nancy discovers stuff by inspecting all assemblies in `bin` also doesn't work, because apparently there is no bin folder, or is there?

[2015-10-05 07:47] khellang commented on #1959
@tpluscode This is the same for all Nancy projects - DNX or not. Nancy won't scan assemblies not referencing Nancy.dll by default.
If you don't reference the dll or not using any Nancy code in your library at compile-time (which makes the compiler strip the reference), it won't be picked up by default.
We even added the `[assembly: IncludeInNancyAssemblyScanning]` attribute just for this scenario.

[2015-10-05 09:07] tpluscode commented on #1959
@khellang AFAICT `[assembly: IncludeInNancyAssemblyScanning]` helps when a class library doesn't reference Nancy (or that assembly is removed at compilation). Is that right?

In my case the Nancy hosted with OWIN in a ASP.NET 5 app doesn't discover my module. `ApplicationBase` is the DNX path, so that won't help and it turns out that the `PrivateBinPath` is an empty string. Any ideas?

Also, [here

[2015-10-05 09:24] khellang commented on #1959
Hmm. When I think about it, I doubt anyone's actually tested this scenario. It's probably just been tested with modules in the same assembly as the host. Until we get up and running with DNX's `ILibraryManager`, I think we'll have to find a workaround here. I think you have to inject `IApplicationEnvironment` into your `Startup` and set `PrivateBinPath` to its `ApplicationBasePath` or something.

[2015-10-05 09:27] khellang commented on #1959
Some context; https://github.com/aspnet/dnx/issues/1253

[2015-10-06 12:01] Alxandr commented on #1959
@khellang getting it to run with `ILibraryManager` should be really easy. Here's the entire MVC's implementation (really few LOCs): https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/Infrastructure/DefaultAssemblyProvider.cs

[2015-10-06 12:06] khellang commented on #1959
Absolutely. But there are some yaks that needs some shaving before we get to that point;
We're aiming to empty our PR/issue queue, ship 1.4, then start (continue) on 2.0, which will move to project.json, drop 4.0 etc.

[2015-10-06 12:13] khellang commented on #1959
One part of the problem is that Nancy's assembly scanning is static today, while `ILibraryManager` is instance based, so we have to adjust the assembly scanning a bit. See https://github.com/NancyFx/Nancy/pull/1846 for context.

[2015-10-06 13:39] #1937 closed

[2015-10-06 13:39] khellang commented on #1937
Fixed by #2063.

[2015-10-07 19:38] TrueWill opened #2071 "ErrorPipeline + operator signature changed"
Not an issue, but an undocumented breaking change in 1.3.0.

The ErrorPipeline + operator signature changed from 1.2.0. This made the versions not binary-compatible; NuGet packages referencing the old version must be upgraded in order to use them in a project that references 1.3.0.

See http://stackoverflow.com/questions/32980300/method-not-found-nancy-errorpipeline-nancy-errorpipeline-op-addition

[2015-10-07 19:58] khellang commented on #2071
Yeeah. That was kinda lazy. We kinda knew that was a breaking change, but it wasn't marked as such. I've added it to the [breaking changes overview](https://github.com/NancyFx/Nancy/wiki/Breaking-Changes).

[2015-10-07 19:58] #2071 closed

[2015-10-08 13:17] TrueWill commented on #2071
Thank you very much! :+1:

[2015-10-13 10:45] vercruysb opened #2072 "MoveToWritableStream takes about 5s on Mono"
When a MoveToWritableStream is needed an async copy is performed by using the async method StreamExtensions.CopyTo

On mono the first read takes +/- 5s to complete, this seems like an implementation fault in Mono 3 and 4 but it would be handy to be able to choose to use the async or sync CopyTo.

Like how you fixed the Disable stream switching when self-hosting

This problem happens for selfhost a

[2015-10-13 19:17] divmgl commented on #1817
I just took a look at `Tokenizer.cs` and it looks this is default behavior. It will only tokenize username, claims and date.

Normally this would be fine for me, but I'm working on a coworker's app who is using token authentication *to retrieve additional properties from a data store*. /facepalm

Not sure how I'm going to manage storing additional items in the token to be retrieved later.

[2015-10-13 20:28] jessetechie commented on #1817
The purpose of the AdditionalItems property is to provide an extensible way to ensure that the client sending the token is the same client that got the token.

As you can see from [Tokenizer.cs Line 30](https://github.com/NancyFx/Nancy/blob/master/src/Nancy.Authentication.Token/Tokenizer.cs#L30), the User Agent string from the request header is automatically added to the collection as an example o

[2015-10-13 21:33] divmgl commented on #1817
@jessetechie thanks for reaching out. I am going to show my coworker your response.

[2015-10-14 08:23] mikle111 opened #2073 "Base non generic HtmlHelpers class for Nancy.ViewEngines.Razor"
There is some thing in Nancy Razor realisation that makes me unhappy:
If we want IntelliSense to work with our view than we need to write
[code]
Than I want to use some helpers. All works just ok for simple model class. But if I have generic like ISomeInterface<ISomethingElse> than helpers doesn't work.
So it can be fixed with base non generic class(or interface) for helpers that we can use in ext

[2015-10-14 08:51] phillip-haydon commented on #2073
Hmmm

So you have models that have an interface? And you want helpers that work against the interface?

[2015-10-14 09:35] mikle111 commented on #2073
Oh, I missed up some type parameters for my extension methods. It works now.
There is still a problem. Assume that I have model independent html helper extension:
[code]
But I have to use `TModel` parameter. And if I'll use that extension frome some other place, I'll need to add `TModel` type parameter here to. Why use generics, when dont need them? There is model independent part in HtmlHelpers c

[2015-10-14 11:43] #2073 closed

[2015-10-14 11:43] khellang commented on #2073
Closed with #2074

[2015-10-16 12:51] watashimeandeu opened #2075 "Windows 10 core iot"
Hi,
i'm using nodejs as web server but i'm more comfortable with nancy.
It will support universal apps or how can i put it work?

Thank you

[2015-10-20 08:04] JC008 opened #2076 "BindTo(...) within inherited class constructor does not populate properties"
The following illustrates the issue:

[code]

[2015-10-20 08:19] khellang commented on #2076
That's because `BindTo` is generic (`public static TModel BindTo<TModel>(this INancyModule module, TModel instance)`) and the type is inferred to `BaseNancyHandler` (which `this` is). There's no way you'll get that to work because you don't have enough information about the derived type in the base class.

I'm not really sure what you gain by doing this. Why are you returning a handler, which in r

[2015-10-20 10:39] thecodejunkie commented on #2076
Like @khellang said, this is not a Nancy "problem". There is no way that the base class could know which sub-class `this` would reference. I'm closing this issue, but feel free to continue with the discussions

[2015-10-20 10:39] #2076 closed

[2015-10-20 15:25] ekelundh opened #2077 "OnError pipeline exception is innermost exception"
For my error handling, I have defined a global exception handler that catches exceptions on the on error handling. As of version 1.3 - any exceptions with an inner exception (no matter how many inner exceptions) are only sent through the pipeline as the innermost exception.

Is this expected behavior?

[2015-10-20 17:54] khellang commented on #2077
This sounds like a dupe of #1638

[2015-10-20 17:54] #2077 closed

[2015-10-20 17:56] khellang commented on #1638
Was this fixed with #2066?

[2015-10-20 18:02] khellang commented on #1638
Could any of you try to pull the latest build for the CI feed at [MyGet](http://myget.org/gallery/nancyfx) and test this out?

[2015-10-20 19:45] sloncho commented on #1638
Yes, my test passes with the latest code, as well as it does not unwrap inner exceptions.

[2015-10-20 19:49] khellang commented on #1638
Alright, I'm marking this as closed by #2066. The fix'll be out as part of 1.4 :smile:

[2015-10-20 19:49] #1638 closed

[2015-10-20 19:51] sloncho commented on #1638
Although I do not see any code which addresses the issue in #2066. I.e. the code there deals only with the inner exceptions. I do not see the change which fixes the unwrapping on the module pipeline.

Unless it was fixed as a side effect somewhere else.

[2015-10-22 20:36] thecodejunkie commented on #1918
@ahkjeldsen Yep, this should be possible. I just added a quick `implicit operator overload` for `int?` and tried it. Seem to work. Will see about getting a pull-request in that supports null operator on the primitives

[2015-10-23 12:57] #1918 closed

[2015-10-23 13:39] albertjan opened #2079 "Serializer exceptions cause IIS to crash"
This cause iis to crash there by dropping the connection to the client. Nancy should do that should it? Happens with Owin. This cause a 502 on azure because there's a proxy server in between.

[code]

Circular references will do the same.

[2015-10-23 14:42] albertjan commented on #2079
So if you get a 502 on azure check if you don't have issues with the serializer. I wasn't able to catch this error with the `app.UseErrorPage()` thing from Microsoft.Owin.Diagnostics.

[2015-10-23 14:42] #2079 closed

[2015-10-23 18:21] khellang commented on #1905
Fixed by #2081

[2015-10-23 18:21] #1905 closed

[2015-10-23 18:21] khellang commented on #1905
Thanks, @jonathanfoster! :grin:

[2015-10-23 19:19] #1469 closed

[2015-10-23 23:25] rasmus-beck commented on #1638
@sloncho I'm a little late to the party I see. But you seem to have it under control. Let me know if there is anything else you need my help with on this.

[2015-10-27 07:45] bitbonk opened #2087 "Nancy does not respect probing path for the primary appdomain"
It seems that Nancy's `AppDomainAssemblyTypeScanner` does not respect the probing path, if the current appdomain is the primary/default appdomain. I have put each of my modules into separate subfolders and added all these directories to the App.config:

[code]

But the AppDomainAssemblyTypeScanner fails to find them, because `AppDomain.CurrentDomain.SetupInformation.PrivateBinPath` is always null

[2015-10-27 08:40] khellang commented on #2087
Do you have any idea how to fix this?

[2015-10-27 08:45] thecodejunkie commented on #2087
That's strange, we have this code in the `AppdomainAssemblyTypeScanner` https://github.com/NancyFx/Nancy/blob/master/src/Nancy/Bootstrapper/AppDomainAssemblyTypeScanner.cs#L332

Can you run using symbols and debug that price of code and see what it does for your setup?

[2015-10-27 11:07] bitbonk commented on #2087
@thecodejunkie `AppDomain.CurrentDomain.SetupInformation.PrivateBinPath` is always null for the *primary/default* Appdomain. This seems to be [by design](http://stackoverflow.com/questions/33353420/appdomain-currentdomain-setupinformation-privatebinpath-is-null).

@khellang I have no idea how to fix this, hence [my question on stackoverflow](http://stackoverflow.com/questions/33353420/appdomain-cu

[2015-10-27 12:55] #1864 closed

[2015-10-28 10:32] hiscodeness commented on #1642
@thecodejunkie Just to make sure, has something change since you wrote the previous comment, because I'm definitely seeing this exception while doing model binding? Here's the exception message:
[code]

The exception is handled by Nancy and model binding works fine, so this doesn't affect the application.

[2015-10-28 12:59] jonathanfoster commented on #1905
Thank you guys for making an awesome framework. I'm just happy I could contribute.

[2015-10-28 13:33] thecodejunkie commented on #1996
Closed in conjunction with #2001

[2015-10-28 13:33] #1996 closed

[2015-10-28 14:09] thecodejunkie commented on #2075
At this point in time we do not have any immediate plan on ensuring that Nancy can run on Win10 IoT. Sorry

[2015-10-28 14:09] #2075 closed

[2015-10-28 22:26] Yoshi325 opened #2090 "Three-Pass Rendering Not Working, Nancy.ViewEngines.Spark, Shade"
When using the SparkViewEngine and the left offset syntax (shade) three pass rendering is not working.

Simplest recreation can be achieved by creating a New Project using the "Nancy with self host" template. Then adding the NuGet package: "Nancy.Viewengines.Spark". Then creating a three-pass rendering setup with shade files (eg: html, application, index). Two pass works as expected (eg: applicati

[2015-10-28 22:26] khellang opened #2091 "Release 1.4 (and 1.4.1)"
- [x] Update breaking changes - @khellang
- [x] Update documentation (see [issues](https://github.com/NancyFx/Nancy/issues?utf8=%E2%9C%93&q=is%3Aissue+label%3A%22Update+Documentation%22+milestone%3A1.4+)) - @khellang
- [x] Fix Windsor CI build - @damianh
- [x] Run Build Script of Doom™ - @grumpydev
- [x] Close milestone  - @khellang
- [ ] Update CI version number - @khellang
- [x] Tweet - @thecode

[2015-10-29 08:12] grumpydev commented on #2091
I started typing " Waiting on @damianh " and Chrome crashed.. hacker!

[2015-10-29 14:14] mike-ward opened #2093 "Upgrade to 1.4 causes fault on deployment"
Updated to 1.4. Runs fine locally. Deployed to Azure and it faults. Roll back to 1.3 and deploy, works. The error message indicates the problem.

[code]

[2015-10-29 14:18] richardprice commented on #2093
Can you create a minimal reproduction and I will take a look at it.

Cheers!

[2015-10-29 14:42] RobertTheGrey commented on #2090
Any chance you can supply your 3 shade files as an example in a gist with your expected outcome? I'm assuming the same happens when you use plain spark language as well instead of the shade parser?

[2015-10-29 15:03] Yoshi325 commented on #2090
Yup. Here it is: https://gist.github.com/Yoshi325/be7e7c5960b879e72a45
Kept it as simple as possible.
The output with this example is:

[code]

[2015-10-29 15:12] RobertTheGrey commented on #2090
Awesome - this should be enough for me to investigate, and although I had 3 pass rendering working in the past, I recall the view engine bits got a major overhaul and I'm not sure any work has gone into the Spark integration since then or if it's even still possible - but I'l take a look

[2015-10-29 15:23] damianh commented on #2091
lol
On 29 Oct 2015 9:12 am, "Steven Robbins" <notifications@github.com> wrote:

[2015-10-29 15:33] jugglingnutcase commented on #2093
i'm getting this error as well. i'm working on a reproduction, but haven't quite nailed it yet.

It's apparent from the stack trace, but i was getting this error from my FormsAuthentication code. i noticed that i had an older (FormsAuth-named) cookie that probably was no longer relevant. i'm hoping that's helpful to anyone else trying to reproduce this.

[2015-10-29 15:39] Yoshi325 commented on #2090
Thank You! I'm happy to contribute, but I'll need some pointers in the right direction. Nancy + Spark ends up being quite a large codebase to trek through.

Here is the spark gist: https://gist.github.com/Yoshi325/3d00c6362081bab4dddb

[2015-10-29 15:48] divmgl commented on #2050
I'll have to skip on using this because I'm having the same issue as well.

[code]
[code]
Exception setting "Value": "Exception occurred. (Exception from HRESULT: 0x80020009 (DISP_E_EXCEPTION))"
[code]

[2015-10-29 15:48] khellang commented on #2093
#2094 will hopefully fix it :smile:

[2015-10-29 15:54] jugglingnutcase commented on #2093
Was just looking at that section of code. @richardprice, you're quick! Thanks :smile:

[2015-10-29 16:20] richardprice commented on #2093
I broke it in the first place, so.... ;)

On 29 October 2015 at 15:54, James Sconfitto <notifications@github.com>
wrote:

--
The most exciting phrase to hear in science, the one that heralds new
discoveries, is not 'Eureka!' but 'That's funny...' - Isaac Asimov

[2015-10-29 21:23] divmgl commented on #2093
+1 on this... I didn't think updating would break anything in production but it looks like I'm going to have add some regression tests because I just took production down at my company.

Rolled back to a previous release... anyone have a solution to this for now?

[2015-10-29 21:25] khellang commented on #2093
@divmgl Unfortunately I don't think there's much you can do to work around it. We'll hopefully push the fix (#2094) tomorrow. Stay tuned! And sorry for the inconvenience :cry:

[2015-10-29 21:43] thecodejunkie commented on #2093
@divmgl While on fortunate, that the bug was introduced, we always _strongly_ recommend that you perform ample regression testing in you dev/staging environment before deploying any new version into production. Sorry for any inconvenience this might have caused and we hope to have `1.4.1` out on Nuget tomorrow.

[2015-10-29 21:46] divmgl commented on #2093
@thecodejunkie @khellang no rush, thanks for the heads up. I edited my message as it was my fault I had production issues.

[2015-10-30 08:25] RhinoDevel commented on #1484
FYI: A question that is related to this I posted at stackoverflow: http://stackoverflow.com/questions/32885395/how-to-disable-nancys-json-to-c-sharp-class-auto-case-conversion-for-dictionary/33408729#33408729

[2015-10-30 13:02] Samba-Konduri opened #2095 "Nancy frame work uri is not working when . (dot) at start /end of the url"
I'm using Nancy frame work,

my post route :
data/customers/DemoCompany/entities/abc
data/customers/DemoCompany/entities/xyz
data/customers/DemoCompany/entities/yup
data/customers/DemoCompany/entities/.
in db its going to save 4 values  (abc,xyz,yup, . )

now im trying to perform  retrieve  (get operation )
get data/customers/DemoCompany/entities/.

its return all list off records ?

i googled som

[2015-10-30 13:04] mike-ward commented on #2093
@thecodejunkie +1 on testing in dev/stage. I found the issue in our stage deployment so it was a non-issue for us. Just means we have to wait a few more days for the new goodies. :)

[2015-11-02 06:20] luisrudge commented on #1767
Thanks @mthird. Your solution works for me!

[2015-11-04 10:49] gideondsouza opened #2100 "static content under the /Content dir isn't served"
As stated in the title straight forward problem.

Googling came up with this:
http://stackoverflow.com/questions/21123089/nancy-fails-to-find-static-content-in-custom-convention

Fortunately I can see a deleted post with my mod status and it said to ensure the individual files are set to "Copy To Output Directory" => "Copy always" and that seems to work. And yes, I'm not deploying but merely debug

[2015-11-04 19:44] khellang commented on #2050
Closed by #2101

[2015-11-04 19:44] #2050 closed

[2015-11-05 00:06] khellang commented on #1621
Should be fixed with #2101

[2015-11-05 00:06] #1621 closed

[2015-11-05 00:07] khellang commented on #1747
Should be fixed with #2101

[2015-11-05 00:07] #1747 closed

[2015-11-05 06:41] JC008 commented on #2076
See #2102

[2015-11-05 15:54] mike-ward commented on #2093
1.4.1 working. Thanks!

[2015-11-05 17:52] adamralph commented on #1154
I'm observing the same problem with self hosting.

[2015-11-05 17:54] adamralph commented on #1154
...and I am encoding the #'s as %23

[2015-11-05 18:14] adamralph commented on #1154
Right now I'm working around it by using the Korean for "hash" as a replacement "해시". :stuck_out_tongue_winking_eye:

[2015-11-05 19:02] khellang commented on #2093
Awesome! Thanks for following up @mike-ward! :heart:

[2015-11-08 13:39] nvivo commented on #1989
Hi. Any updates on this?

[2015-11-08 15:01] thecodejunkie commented on #1989
@nvivo let's ping @grumpydev and @damianh again ;)

Also, I will assign this to the 2.0 milestone as we will be doing some internal re-plumbing of the async stuff for that release

[2015-11-09 09:32] #2091 closed

[2015-11-09 15:34] ChrisMcKee opened #2104 "Breaking change between 1.2 + 1.3 (onwards) in Bind/Pipeline"

[2015-11-09 16:46] #2104 closed

[2015-11-09 17:07] khellang commented on #2104
Huh :question: :confused:

[2015-11-10 09:09] Samba-Konduri commented on #2095
Does any once had a chance to review this ?

[2015-11-10 18:57] damianh commented on #1989
Looks like a bug. Yes, this should be looked at in v2.

[2015-11-10 20:15] jongleur1983 commented on #2095
I didn't get exactly what you mean when i first saw this issue.
Can you clarify e.g. by a small example? like:
+ a module with the routes you think are mixed up
+ a set of post request urls (and if required, content) to trigger
+ where you expect a different route than what is used

[2015-11-10 20:34] thecodejunkie commented on #2095
Please provide a sample that reproduces the problem, including a

- Bare bones module that declare the route(s) needed to reproduce it (all excess should be excluded)
- A URL that you call your route(s) with that displays the bug

Thanks

[2015-11-10 21:06] thecodejunkie commented on #2095
Looking close at this, this is not something we support out of the box with the existing routing implementation - sorry

The solution would be to redesign your resource URIs to be more ReSTful

[2015-11-10 21:08] #2095 closed

[2015-11-10 21:23] thecodejunkie opened #2106 "Add .DotSettings file"
List of things (needs work)

- [x] `this.` qualifer
- [x] Using-statements in the deepest scope
- [x] No single-line `if`/`using` etc.
- [ ] One class/interface/stuff per file
- [x] No silly prefixes on variable names

More?

[2015-11-10 21:26] khellang commented on #2106
All of these are in place. Just in this repo only.

[2015-11-10 21:36] jongleur1983 commented on #1582
If I understand the stacktrace right, it would be great to get the cookieValue, ideally as used in ValidateAuthenticationCookie() and as sent by the browser(s) (not sure how to check that for a mobile safari browser).
Looking into the nancy source I guess it's a malformed cookie value used here. As your stack trace does not contain line numbers, there are two candidates for the Exception:

    var

[2015-11-10 21:57] xt0rted commented on #2106
Since you're using TeamCity you can add a build step using the `Inspections (.NET)` runner which will check these rules during each build. I'm sure this would require some cleanup to have it fail the build though.

[2015-11-10 22:14] thecodejunkie commented on #1582
This might have been fixed with the `v1.4.x` releases as we've changed encoding/decoding stuff + fixed a bug around cookie values such as `httpOnly` and `secure`

Any chance you could verify @DigitalFlow ?

[2015-11-11 08:12] composite opened #2107 "use Func return as Task instead of Task<dynamic> in RouteBuilder"
sorry for my poor english.

I make Nancy Attribute-Driven Module. (https://gist.github.com/composite/aac8858a04afe7a222f8)
I think Nancy is simple if normal routing usage like:
[code]
but, if use normal method instead of lamda expression... make a method with return type must be `Task<dynamic>`. other type like `Task<string>` will causing exception.
[code]

I suggest that `Routebuilder[string] = `

[2015-11-11 08:20] grumpydev commented on #2107
We already have a sample of attribute routing as a demo, although I wouldn't recommend anyone actually use it:

https://github.com/NancyFx/Nancy/tree/master/src/Nancy.Demo.CustomModule

As for just returning Task, this wouldn't work as we require that you return an "object" of some sort for content negotiation, just completing a Task isn't enough - I also don't think we can add this in addition to

[2015-11-11 08:20] #2107 closed

[2015-11-12 08:35] thomasbindzau opened #2109 "Nancy.Authentication.Token removed?"
I tried to browse the source code for the token authentication, but found that is was removed in the following commit:
https://github.com/NancyFx/Nancy/commit/1fa90ef85c2fa511c65f3e4090e12e6ed54c3af9

A mistake, or has it been moved somewhere else?

[2015-11-12 08:47] khellang commented on #2109
Yes, it has been removed. You can see the discussion at https://github.com/NancyFx/Nancy/pull/1820#issuecomment-77757113. It's basically because we're moving to ClaimsPrincipal for Nancy v2 and it doesn't quite fit. We also don't really know the code well enough to maintain the code properly, so we usually end up pinging @jeffdoolittle for all kinds of stuff. It would be great if someone in the co

[2015-11-12 08:47] #2109 closed

[2015-11-12 12:58] DigitalFlow commented on #1582
Sure, I can test whether the issue still occurs with the newest version of Nancy.
Unfortunately I can't access the iPad before tomorrow, but I'll report when I had a chance to test this.

[2015-11-12 14:26] danfma commented on #1959
Hey guys, how is the work on this feature?

[2015-11-12 15:12] khellang commented on #1959
@danfma We're working on some stuff to unblock .NET core. `net451` etc. should work fine.

[2015-11-12 15:20] danfma commented on #1959
Can I help with anything? I don't have much time but I can try to help with something.

[2015-11-12 15:23] khellang commented on #1959
The problem is that there's not enough work to do it concurrently. We'll just have to let @thecodejunkie finish #1846 after #2000 is done :smile: Thanks for offering your help! :+1:

[2015-11-12 15:24] danfma commented on #1959
Ok!

[2015-11-15 17:51] JoaoRXFernandes opened #2112 "Stateless Authentication - Swallows User Validator Exceptions"
Hi,

I'm having intermittent exceptions from the user validator and would have expected those to have bubbled through the pipeline to the internal server error handler but instead the exceptions are swallowed and the request ends up on the unauthorised handler as if everything is fine but authorisation failed.

I could be missing something so, is that the intended behaviour?

Thanks,

Joao

[2015-11-15 23:01] cusnirati opened #2113 "Nancy 1.4.1 memory leak"
While testing for high-load, I discovered a memory leak issue directly linked to either Nancy or Nancy.Hosting.Self .
Downgrading to the 1.2.0 version solves this.
I uploaded a small demo for this : https://github.com/cusnirati/Nancy1.4.1MemoryLeakDemo

I tested this using JMeter, the project for repeating my steps is inside the solution linked above.

![screenshot 2015-11-15 22 28 26](https://clo

[2015-11-15 23:06] khellang commented on #2113
It would be nice to narrow down the version even more. Are you seeing the same on 1.3?

[2015-11-15 23:21] cusnirati commented on #2113
For 1.3.0 everything looks good, no leaks.
Let me check for the 1.4.1.
I just mentioned the 1.2.0 because that was my previous working version.

[2015-11-15 23:26] khellang commented on #2113
OK, I've identified the regressing commit; https://github.com/NancyFx/Nancy/commit/4aeaf318e9710f9a0c3ac00befb35ee109ec82a2.

It introduced the `CancellationTokenSource.CreateLinkedTokenSource` call which allocates per request, without disposing it afterwards.

![image](https://cloud.githubusercontent.com/assets/582487/11171758/8abc1b64-8bf8-11e5-8218-ed7e379d0f88.png)

![image](https://cloud.gith

[2015-11-15 23:33] cusnirati commented on #2113
No problem :)

[2015-11-16 08:52] #2113 closed

[2015-11-16 13:52] #2018 closed

[2015-11-17 20:43] thecodejunkie commented on #2000
Ping @NancyFx/most-valued-minions @NancyFx/owners these are all up-for-grabs, don't be shy :yum:

[2015-11-18 12:54] Radzhab opened #2118 "How response image?"
Subj. I found this gist, but i dont understand how use it.
https://gist.github.com/grumpydev/4605541

[2015-11-18 12:59] khellang commented on #2118
@Radzhab That *is* a working project. Just put those files into your project and it should work.

[2015-11-18 13:11] phillip-haydon commented on #2118
I think he needs to explain what hes trying to do. Streaming files out is already supported out of the box and requires no additional files.

[2015-11-18 14:15] Radzhab commented on #2118
I want simply return url to one image in my server.

[2015-11-18 14:17] phillip-haydon commented on #2118
To a static file, in a folder...

i.e you have a image in:

/site/images/bananas/yellow-banana.jpg

and you want to navigate to that and return it?

Or do you want to return an image from the database via a url?

Can you please explain what you are trying to achieve.

[2015-11-18 15:56] Radzhab commented on #2118
Phillip. I have two image. online and offline.png
![image](https://cloud.githubusercontent.com/assets/2556411/11245753/5a4afdc2-8e25-11e5-8b61-ec4932f0950b.png)

![image](https://cloud.githubusercontent.com/assets/2556411/11245876/1176f618-8e26-11e5-8504-138d04d2a52d.png)

[2015-11-18 18:18] Radzhab commented on #2118
I return empty data. in html source i see ```localhost:8888/online.png` but link is dead

[2015-11-18 19:36] Radzhab commented on #2118
Ну же мужики. Помогите

[2015-11-18 20:42] alnya opened #2119 "_method in form request is case sensative"
Version 1.1
It appears that the ParseFormData() in the Request which reads the _method value from submitted form data is case sensitive. Lower case methods cause a 405 error to be thrown in our application.

The following call throws a 405
Example:
POST http://localhost:8080/route
Body:
_method=post

The following is handled by the route
Example:
POST http://localhost:8080/route
Body:
_method=POST

[2015-11-19 09:01] zonal-andrewp commented on #2119
This isn't the http method, this is to do with the _method body attribute, which is not covered by RFC7231. Handling lowercase _method values would allow for improved compatibility with other frameworks which do not follow http convention (see rails for a good example).

[2015-11-19 17:19] khellang commented on #2119
@zonal-andrewp We :heart: pull requests :wink:

[2015-11-20 07:43] thecodejunkie commented on #2118
This should provide you with all the information you need https://github.com/NancyFx/Nancy/wiki/Managing-static-content

[2015-11-20 07:43] #2118 closed

[2015-11-20 21:28] xori opened #2122 "Unable to cast object of type 'DefaultStatusCodeHandlerResult' to Model type"
This is a very weird bug that I've come across, and the most frustrating part is that 30% of the time it doesn't come up.

#### The Error
[code]

#### The Module
[code]

#### The View
[code]

If I request the route `/transaction-id.json` I correctly get the JSON encoded string. But if I view the the route in the browser I get the ASP Error page (not the cute Nancy one) with the message listed abov

[2015-11-21 03:40] jonathanfoster commented on #2122
The `DefaultStatusCodeHandlerResult` has to do with content negotiation in the default error handler. When requesting `text/html` the default error handler logic assumes there's no view for `DefaultStatusCodeHandlerResult` and renders the Nancy error page. There must be something in your project that's causing a view to be associated with the default error handler result. Is there anyway you could

[2015-11-21 14:38] hassanselim0 opened #2123 "AppDomainAssemblyTypeScanner locks DLL files"
I'm using Nancy to make a small service that gets called from a main ASP.NET MVC application, during testing I have the self-host Nancy EXE and the main web app's DLLs in the same folder, and I noticed that I can't rebuild the web app while the EXE is still running because the DLL files are locked (in-use).
After digging around for a long time I found the problem to be in AppDomainAssemblyTypeScan

[2015-11-23 00:45] xori commented on #2122
Unfortunately it's a very large project and hard to reproduce, but I will continue trying to create a reproducible example.

The main difficulty is that sometimes it works (race condition?). Maybe with Entity Framework resolving the object proxy (the first time, failing) then it pulling from the cache correctly the second?

Is there any way of inserting a handler into the pipe so that I can inspec

[2015-11-23 01:06] khellang commented on #2122
Because you're specifying a view and a model, using `return Negotiate.WithView("Purchase").WithModel(model);` and the `DefaultStatusCodeHandler` just [passes on the `NancyContext` to the `IResponseNegotiator`](https://github.com/NancyFx/Nancy/blob/06cf21609b5e61bee5b16e0b1f21e9341635a785/src/Nancy/ErrorHandling/DefaultStatusCodeHandler.cs#L77) without resetting the `NegotiationContext`, it'll [try

[2015-11-23 01:07] khellang commented on #2122
I can look into this if @jonathanfoster isn't into it. It's probably just a matter of making sure the `NegotiationContext` is in a good state before passing it to the negotiator.

[2015-11-23 11:07] alexsaare opened #2126 "Testing a custom bootstrapper"
Hi,  I raised this stackoverflow question

http://stackoverflow.com/questions/33830206/testing-code-in-a-custom-nancyfx-bootstrapper/3386149

For completeness I'll repeat the custom bootstrapper here

    public class CustomNancyBootstrapper : StructureMapNancyBootstrapper
    {
        protected override void RequestStartup(IContainer container, IPipelines pipelines, NancyContext context)

[2015-11-23 11:31] khellang commented on #2126
These methods are protected because they're not meant to be called by outsiders. The Nancy bootstrapper holds state and has a specific ordering in which the methods should/needs to be called. If these are not called in the correct order, you might corrupt that state and things start to fail. This is a classic example of the Hollywood principle; "don't call us, we'll call you".

Why are you even tr

[2015-11-23 11:36] khellang commented on #2126
Oh, didn't realize you were using Moq (it's been a while :wink:).

With Moq, you can do `It.Is<NancyContext>(ctx => { /* do matching here */ });`.

[2015-11-23 12:34] alexsaare commented on #2126
I'm not trying to test that RequestStartup is called, I'm trying to test my code inside it.

The sample above is simplified, there could be plenty of code in there I should test. Again, I'm not testing the bootstrapper is called, I'm testing my code inside it.

You may have missed my edit but It's brittle because of this...

If I change my bootstrapper to this...

    public class CustomNancyBoots

[2015-11-23 12:56] khellang commented on #2126
That's a pretty contrived example. There are tons and tons of ways you could ruin your tests, either way...

If you're worried by this, you need to assert that the context is the correct instance or that it satisfies a set of requirements. I mentioned a couple of examples above.

Again, this is, IMO, a moot point, and I think there *is* a good reason why your test fails. Either you're asserting on

[2015-11-23 13:01] khellang commented on #2113
@cusnirati We've now shipped 1.4.2. Would you mind updating and letting us know if things look better?

[2015-11-23 15:59] xori commented on #2122
Yup, I'm now positive that this has something to do with how Nancy deals with EF's proxy classes.

With a view that consists of *only*
[code]
and the simple Module listed above I get my reported error on the **first** page load, on subsequent loads it works. But if I compile again it will error the first page hit.

If I replace the above Module with this one
[code]
It works.

[2015-11-23 16:16] xori commented on #2122
By using http://stackoverflow.com/a/25774651 I was able to get it to work consistently. However I don't feel confident using this in production so I'll greatly appreciate it when this issue does get fixed.

[2015-11-23 18:16] alexsaare commented on #2126
The point of the example was to highlight what the test was trying to verify - the implementation.  I'd say creating mock INancyContextFactory is also very contrived and way beyond the scope of what the test is trying to focus on.

I was trying to verify the implementation of RequestStartup in isolation so that I know my component behaves correctly according to specification defined - whatever tha

[2015-11-23 21:03] cusnirati commented on #2113
I confirm, the issue is fixed.

[2015-11-23 21:11] khellang commented on #2113
Thanks for following up! :+1:

[2015-11-23 23:37] khellang commented on #2106
I think this was mostly covered by #2120?

[2015-11-23 23:37] #2106 closed

[2015-11-23 23:38] khellang commented on #2106
I'm not sure you can specify this using R#?

[2015-11-24 00:16] xt0rted commented on #2106
StyleCop has a rule for this which is [SA1402](http://www.stylecop.com/docs/SA1402.html) `FileMayOnlyContainASingleClass`, and there's also [SA1403](http://www.stylecop.com/docs/SA1403.html) `FileMayOnlyContainASingleNamespace` that goes with it. I doubt there's an easy way to add this to the local build process though.

[2015-11-24 00:22] khellang commented on #2106
There's always [StyleCop.MSBuild](https://www.nuget.org/packages/StyleCop.MSBuild/), but I doubt how much longer that holds up when it comes to the project system. Besides, we have @thecodejunkie :cop: :oncoming_police_car:  :wink:

[2015-11-24 03:35] jonathanfoster commented on #2122
It looks like the invalid cast is occurring in the `NancyRazorViewBase` constructor. @xori, as a work around you should be able to use ```

[2015-11-24 03:44] jonathanfoster commented on #2122
@khellang, it looks like the invalid cast is occurring in the `NancyRazorViewBase` constructor. I'm able to resolve the issue by nulling out the view name in the negotiation context. Would it be better to simply create a new `NegotiationContext` in the event of an error? This would avoid any other potential negotiation context issues.

[2015-11-24 08:50] phoenixx opened #2131 "Empty negotiated response with accept header of application/xml or text/xml throws serialization exception"
Given a simple model which simply returns a 200 response:

[code]

Making a GET request to this endpoint with an accept header of "application/json" returns an empty response with a status code of 200, as expected.

Making a GET request to this endpoint with an accept header of "text/xml" or "application/xml" returns a 500 internal server error with the following exception:

[code]

[2015-11-24 22:49] khellang commented on #2131
Closed by #2133

[2015-11-24 22:49] #2131 closed

[2015-11-24 22:50] #2119 closed

[2015-11-25 01:48] woodywu opened #2135 "Nancy Engine Memory Leaks"
Hi All,

After running Nancy for few days, I got a memory leak issue. Here is what I get from CLR Profile.

![clrprofile](https://cloud.githubusercontent.com/assets/3216210/11385977/ad3c8284-9358-11e5-830a-f60ef57bcaca.png)

These objects all lived to Gen2.

 I think the issue have some relationship with this one. http://stackoverflow.com/questions/9717592/async-and-cancellationtokens-cancellation

[2015-11-25 02:42] xt0rted commented on #2135
This should be resolved in v1.4.2 as per #2113

[2015-11-25 06:36] woodywu commented on #2135
That's great. Thank you very much!

[2015-11-25 06:37] #2135 closed

[2015-11-27 18:43] Radzhab opened #2136 "How config ssl support?"
i have config
[code]

[2015-11-27 18:50] phillip-haydon commented on #2136
I believe this is more of a nginx question than Nancy...

[2015-11-27 19:24] khellang commented on #2136
This is not really a Nancy specific issue. You'll probably be better off asking this question (which, BTW, is a pretty badly asked question) on StackOverflow.

[2015-11-27 19:24] #2136 closed

[2015-11-30 08:02] prakschoudhary opened #2137 "Display a list of a model in a razor view using NancyFx"
I'm having trouble just displaying a List<some_type> with NancyFx. The issue seems to be something pretty basic I'm missing or perhaps the framework has changed from the examples?

My Module looks like this:

	public IndexModule()
	{
		Get["/"] = parameters =>
		{
			dynamic d = new BlogPost();
			return View["index", d];
		};
		Post["/"] = paramters =>
		{
			IEnumerable<BlogPost> result = new Li

[2015-11-30 09:58] khellang commented on #2137
[code]

If your view is expecting an `IEnumerable<BlogPost>`, why are you passing a single `BlogPost`? Also, it that your entire .cshtml? It looks really weird and definitely isn't valid HTML.

I think both of those should have generic parameters, like `IEnumerable<BlogPost>` or `NancyRazorViewBase<IEnumerable<BlogPost>>`.

I'm not very familiar with Razor and all its quirks, but I suggest you rea

[2015-11-30 10:00] khellang commented on #2137
Update; I see you've already posted on StackOverflow (http://stackoverflow.com/questions/33993692/display-a-list-of-a-model-in-a-razor-view-using-nancyfx). I'm closing this issue and we'll see if someone can answer there. It's a much better place for support cases like this :smile:

[2015-11-30 10:00] #2137 closed

[2015-12-01 11:07] felipeleusin commented on #2061
Is this up for grabs?

[2015-12-01 11:10] phillip-haydon commented on #2061
@felipeleusin we welcome any and all contributions to making Nancy even more awesome. There's absolutely no reason why you can't contribute this. So feel free :)

Just needs to pass @thecodejunkie's very very strict coding standards. :)

[2015-12-01 11:10] phillip-haydon commented on #2061
Also @thecodejunkie to confirm we are going ahead with SimpleJson?

[2015-12-01 11:14] grumpydev commented on #2061
This is more complicated than it sounds though because it includes changing the serialiser contract, and how the binding works, to allow for dyamic model binding.

Still up for grabs, but it's more than just "replace x with y", although that is a reasonable start in itself.

[2015-12-01 11:18] phillip-haydon commented on #2061
@grumpydev changing to SimpleJson should open way to fix the dynamic model binding stuff right?

So if iteration one was getting the replacement in there, then the next iteration amending the contract and the this.Bind<T> stuff etc. We can have smaller pieces.

I'm just thinking, getting the replacement in and ensuring nothing breaks before we fix the other things.

[2015-12-01 11:19] grumpydev commented on #2061
I think that's pretty much what I said? :) just don't want to to be forgotten that there's more work than just switching it out.

[2015-12-01 11:23] phillip-haydon commented on #2061
We have checkboxes on the originally issue now :) feel free to amend them accordingly.

[2015-12-01 12:18] felipeleusin commented on #2061
Ok. I'll take this first step and we'll see where it goes.

[2015-12-01 13:13] thecodejunkie commented on #2061
Yes, I have confirmed with @prabirshrestha that it is OK for us to embed it and even strip out platform support for everything we don't need (.NET 4.0 and below).

He did warn us that we do have to keep an eye out for infinite recursions because it does not do a very good job guarding that. We currently allow you to control this with `JsonConfiguration.MaxRecursions` in the existing code

[2015-12-03 04:36] tofutim commented on #2122
I ran into this today.

[2015-12-03 07:02] tofutim commented on #2122
I feel like this is new, as my code used to work.

[2015-12-03 07:13] tofutim commented on #2122
This seems to be a problem when the number of results is large. when it is small i do not see the issue. Maybe a timing issue for EF?

[2015-12-03 07:27] thecodejunkie commented on #2122
We're pretty much going to need a reliable reproduction of this. Either as a minimal viable application or as failing unit tests. If either of you guys can help us by suppling either, then we can start looking into this.

Thanks

[2015-12-03 07:30] thecodejunkie commented on #2122
Bit curious if this is related to the [MaxJsonLength](https://github.com/NancyFx/Nancy/blob/v1.4.2/src/Nancy/Json/JsonSettings.cs#L34) of the JSON response being hit. This isn't something new, but it would explain the above theory

[2015-12-03 07:45] tofutim commented on #2122
No, I just figured it out, I had a cshtml that was referring to an item in
my results which was null and trying to pull a property off of it. Strange
error but that was the problem.

On Wed, Dec 2, 2015 at 11:30 PM, Andreas Håkansson <notifications@github.com

[2015-12-03 07:47] grumpydev commented on #2122
If you could put together a repro project so we can make the error more meaningful that would be great.

[2015-12-03 08:30] tofutim commented on #2122
Let me see what I can do.

On Wed, Dec 2, 2015 at 11:47 PM, Steven Robbins <notifications@github.com>
wrote:

[2015-12-03 10:01] tofutim commented on #2122
Try this

https://github.com/tofutim/UnableToCastDefaultStatusCodeHandlerResult

On Thu, Dec 3, 2015 at 12:30 AM, Tim Uy <tim@loqu8.com> wrote:

[2015-12-03 10:03] tofutim commented on #2122
I need the error to tell me that I have a NullReferenceException in the
razor - but maybe this is too much to ask. The current error though is
really cryptic. In my real example, the model was a dynamic EF result so I
spent a long time trying ToList() AsEnumerable, etc. when really I was just
calling a property from a property that happened to be null in the cshtml
(forgot an if null on one of my

[2015-12-03 16:32] jonathanfoster commented on #2122
I submitted PR https://github.com/NancyFx/Nancy/pull/2140 to resolve this issue. You can reproduce it in https://github.com/jonathanfoster/nancy-demo-errorhandlerinvalidcastexception/.

[2015-12-03 22:13] khellang commented on #2122
Closed by #2140. It would be nice if someone pulled a CI build off MyGet and verified the fix :smile:

[2015-12-03 22:13] #2122 closed

[2015-12-03 22:36] jeffthiele-iq opened #2141 "CancellationToken Disposed before async request is complete"
After updating to 1.4.2, I started getting `ObjectDisposedException: The CancellationTokenSource has been disposed.` when calling async methods using the `CancellationToken` provided by Nancy.  In my case it was EntityFramework methods, but I believe it would happen with any async methods.

The error does not exist in 1.4.1, and I think I tracked it down to the changes in pull request #2114.  It m

[2015-12-03 22:47] khellang commented on #2141
That's because the CTS wasn't disposed *at all*, so we had a nice 40 byte memory leak per request :stuck_out_tongue:

I'll take a look at it. @damianh, feel free to beat me to it :wink:

[2015-12-03 22:48] khellang commented on #2141
@jeffthiele-iq Thanks for filing and digging into this, BTW! :+1:

[2015-12-04 00:00] Yoshi325 commented on #2090
Looks like even Two-Pass is broken in Nancy.Viewengines.Spark 1.3.0 at the moment.

[2015-12-04 07:10] Hell0wor1d opened #2142 "NancyBootstrapperBase.cs Register Modules twice in one Method"
Hi There,
I just found in this code file https://github.com/NancyFx/Nancy/blob/master/src/Nancy/Bootstrapper/NancyBootstrapperBase.cs

In line 265 and 277.
There are two lines of the same code to register Module.
[code]
I confused and want to know if this is an input error or not?

Thanks a lot.

[2015-12-04 08:26] khellang commented on #2142
Good catch! It seems @thecodejunkie added the second registration in https://github.com/NancyFx/Nancy/commit/75704d6377c6c90ac9981bc9b32d10341207976a. I wonder why... It also seems the indentions is off! :scream: :cop: :oncoming_police_car:

[2015-12-04 10:29] Hell0wor1d opened #2143 "Is there a way to dynamically register module with Nancy?"
Hello,

I am going to dynamically register a module via manually loading assembly( *.dll ).  Any ideas?

Big Thanks.

[2015-12-04 10:36] Hell0wor1d commented on #2143
@khellang Hello, Any ideas? Thanks.

[2015-12-04 11:06] khellang commented on #2143
You can override the `Modules` property in the bootstrapper and return a list of `ModuleRegistration`. The default implementation looks like this; https://github.com/NancyFx/Nancy/blob/master/src/Nancy/Bootstrapper/NancyBootstrapperBase.cs#L107-L121.

[2015-12-04 14:59] Hell0wor1d commented on #2143
@khellang Thanks for your information. Unfortunately, this is not what I really want.  By your way, We can customize Modules List; Howerver,  It need to reboot NancyHost everytime when you want to register a new module at runtime. What I want to do is to reflect a dll dynamically and register the module to NancyHost at runtime. In fact, is to achieve NancyModule hot-plugging. Any Ideas? Thanks!

[2015-12-04 15:02] khellang commented on #2143
Nope. This is not possible. Nancy scans for modules and registers them in the container once, at startup. This is because of caching of route handlers etc.

[2015-12-04 15:13] Hell0wor1d commented on #2143
@khellang  How about if we create multiple NancyHost instance or Mutitiple Process to handle NancyModule hot-plugging. Eh, This is not a good way.  Anyway, thank you for your prompt reply. Otherwise, maybe I'll have to debug & research your source code all night. :D

[2015-12-04 15:45] grumpydev commented on #2143
The only way I can think of is to run self hosted and whenever you have a new DLL to load you kill the host, load the DLL, then spin it back up again - you will also need to dispose the bootstrapper and create a new instance of it each time.

[2015-12-04 16:14] Hell0wor1d commented on #2143
@grumpydev If user want to upload dll via web page...

I am going to implement a system container(platform)  based on Nancy ( It is a little similar to docker design). Such as cms/media/blog/ums/ecommerce etc. as plugin package, and backend portal/System Core as bundle.

Thank you for your updates.

[2015-12-04 17:23] jeffthiele-iq commented on #2141
Here's a test module which recreates the issue with only file access.  The test file is just the text for War and Peace to slow down the file read enough that the token gets disposed part-way through.
[code]

[2015-12-05 19:34] Hell0wor1d commented on #2143
@khellang @grumpydev   Hi Guys,  Nancy support module hot-plugging is possilbe, I just make a small-changes of Nancy. It works well. :D  If you are interested, we can discuss together. I have to go to bed, now it is half past three in the morning. :D

[2015-12-06 03:25] toenuff opened #2146 "Nancy throws exception when using c:\users\username\documents as the root path"
I have a getrootpath that looks like this:

[code]

It throws the following error at least in win 10.  It only does this with this root path that I can tell, but a few others are testing it with other paths.  We'll update this thread if there are others found.

[code]

[2015-12-06 03:38] toenuff commented on #2146
Actually, it appears to happen in any folder where there is a subfolder with no permissions.  It's also iterating through hidden folders.  For example, you can't use the root of your c-drive because the recycle bin usually has some access denied error.

I have a quick test in ps that I can do to determine if that is an acceptable path:
Get-ChildItem c:\users\tome\documents -Depth 1 -force -Recurse

[2015-12-06 08:47] thecodejunkie commented on #2146
Yes? This is a Windows file system security thing. There's no way for us to bump the process up to admin privileges, nor should we :)

Possible workarounds

1. Don't use a restricted folder
2. Set the permissions on the restricted folder so the app has permission to read/write
3. Run your application as admin

[2015-12-06 08:47] #2146 closed

[2015-12-06 09:03] damianh commented on #2126
http://dhickey.ie/2014/03/gullivers-travels-test/

Write outside tests and just enough inside ones.

[2015-12-06 14:20] alexsaare commented on #2126
"Just enough" is entirely subjective.

Whether this approach is a good thing or a bad thing depends on the potential impact of any defects in your application.  My context is a trading platform responsible for over $1bn of daily activity which is regularly audited by 5 regulators.  Whilst this is only a very thin UI in the overall architecture, the unintended consequences of small changes can be d

[2015-12-06 17:34] damianh commented on #2126
I worked on trading platforms too, similar dollar value (Fixed Income
mostly).  Now its control of work safety systems in petrochemical. My
opinion that outside (acceptance, BDD style) provide the most value, and,
more often then not, adequate coverage, remains.
On 6 Dec 2015 3:21 pm, "alexsaare" <notifications@github.com> wrote:

[2015-12-06 17:35] beatcracker commented on #2146
It looks like Nancy can't follow symlinks (junctions), is it by design? Because in @toenuff 's example `c:\users\tome\documents\My Music` is a junction to `c:\users\tome\My Music` and it's fully accesible to the current user running nancy.

In my case, Nancy can't access `C:\Users\Administrator\Documents\My Music`, despite that I have full permissions for the target folder `C:\Users\Administrator\

[2015-12-06 17:36] damianh commented on #2126
With respect to Nancy, that is achieved via Nancy.Testing , or
alternatively, OwinHttpMessageHandler.

[2015-12-06 20:02] alexsaare commented on #2126
Whist I agree that the BDD tests are of more value, this does not make the unit tests obsolete.

With respect to Nancy and my original post, I was looking for advice on unit testing code within request start up.  As indicated above the IRequestStartup interface is what I was looking for.

I do appreciate your comments.  Thanks for taking the time.

[2015-12-06 20:11] khellang commented on #2146
I doubt it's by design. It probably just hasn't been thought of.

I don't think Nancy does anything special to block or not follow symlinks. It's probably just a limitation of the .NET APIs. I don't think it's Nancy's fault that `Directory.GetFiles` throws that exception :smile: If you have any good suggestions, we'd :heart: to hear about them.

[2015-12-06 21:34] damianh commented on #2126
Very good. Btw we have a chat room on Jabbr for more direct convos.
On 6 Dec 2015 9:02 pm, "alexsaare" <notifications@github.com> wrote:

[2015-12-06 23:29] xt0rted commented on #2146
There's a similar question [on StackOverflow](http://stackoverflow.com/q/10477113/39605) about this issue ([here's the answer it points back to](http://stackoverflow.com/a/9882819/39605)).

By the looks of it you'll need to put some additional logic in there to check if the folder is a symlink, and if so use the location it points to instead.

Nancy not doing this for you might not be very [SDHP™]

[2015-12-06 23:30] beatcracker commented on #2146
I've just re-checked and Nancy works fine with junctions. It's just that some of the Windows' junctions designed for backward compatibility have peculiar permissions set on them: they deny `Everyone` permissions to `List folder`/`read data`, probably to stop legacy applications from enumerating files via those junctions twice. You can read more about this here: [Windows Vista/Windows 7 Junctions (

[2015-12-07 02:25] nicholas-brooks opened #2147 "How to reference EmbeddedStaticContentConventionBuilder?"
Just wondering if there was ever a decision made re `Nancy.Embedded.Conventions.EmbeddedStaticContentConventionBuilder` ?  I've read through #1608 but it appeared to be closed without a resolution.

Was it supposed to be included in core or a nuget package?

We're busy using it but couldn't find any reference to it in nancy 1.4.2 or find any nancy.embedded nuget package so we resorted to simply co

[2015-12-07 05:53] #2143 closed

[2015-12-07 07:56] thecodejunkie commented on #2142
@Hell0wor1d why was this closed?

[2015-12-07 07:59] Hell0wor1d commented on #2142
@thecodejunkie Sorry, I think that has been fixed. Just reopened.

[2015-12-07 08:03] thecodejunkie commented on #2142
Nope it's still in there and it looks like it's the artefact from a bad merge resolution. I will take a closer look, submit a pull-request and then proceed to close this issue once it's been resolved

[2015-12-07 16:06] mbp opened #2148 "ReasonPhrase is discarded on application/json processsor"
If you have a route such as:

    Get["/notfound"] = parameters =>
    {
        return new NotFoundResponse
        {
            ReasonPhrase = "foobar",
        };
    };

And you call the API with accept header `application/json`, then "ReasonPhrase" will be `Not Found` instead of `foobar`.

If accept header is `text/html`, then "ReasonPhrase" will be `foobar` (as expected).

This behavior has

[2015-12-07 16:13] khellang commented on #2148
If you return a response, it shouldn't even hit negotiation. It's a way to short-circuit the whole negotiation process :confused:

[2015-12-07 16:16] khellang commented on #2148
What happens if you `return Negotiate.WithStatusCode(404).WithReasonPhrase("foobar")`?

[2015-12-07 16:22] mbp commented on #2148
@khellang same result

[2015-12-07 16:35] khellang commented on #2148
I think we'd need a small repro of this. I can't reproduce this using tests :disappointed:

[2015-12-07 16:48] khellang commented on #2148
OK, I found a way to reproduce this. I've submitted #2149.

[2015-12-07 17:04] mbp commented on #2148
Awesome. Thanks!

[2015-12-07 20:10] damianh commented on #1202
I think this can be in 2.1 or after.

[2015-12-07 21:39] damianh commented on #1989
I have recently cleaned up all the async/await internal stuff #2105 . I have [added a test](https://github.com/damianh/Nancy/commit/b8497f83b387db5a6c66d0a77643874f498f0aff) to a branch based on that. It seems the problem no longer is present. Can you verify this code please? For now am closing issue. Please let us know if this test code is wrong.

I'm reluctant to add this test to main code base

[2015-12-07 21:39] #1989 closed

[2015-12-07 21:43] damianh commented on #1989
Tweaked the assertion: https://github.com/damianh/Nancy/commit/e6d4715aa2076948efd335e648e020bcc4e48ab7

[2015-12-07 21:52] #2148 closed

[2015-12-07 21:59] damianh commented on #2141
Fixed via #2150

[2015-12-07 21:59] #2141 closed

[2015-12-07 22:00] damianh commented on #2141
Personal note: will need to reimplement on the async branch

[2015-12-07 22:05] damianh commented on #2067
Waiting for #2105 to be merged first.

[2015-12-07 22:11] damianh commented on #2100
Yeah, you need to copy the content to the output directory (the path is relative to the binaries...). Is this an issue?

[2015-12-07 22:21] damianh commented on #1954
Replaces with `ClaimsPrincipal` via #1820

[2015-12-07 22:21] #1954 closed

[2015-12-07 22:26] damianh commented on #1127
Closing this 'cos it's not going to happen for capacity reasons.

[2015-12-07 22:26] #1127 closed

[2015-12-07 22:36] thecodejunkie commented on #2100
That's not us, that's how console applications work. The content folder wont be copied to the output directory if you don't set it, hence it won't be in the application path.

[2015-12-07 22:36] #2100 closed

[2015-12-07 22:48] thecodejunkie commented on #2146
It's been like this for nearly 5 years so I doubt it's a real hotspot for problems. Looking at the code that @xt0rted linked, it does look like a mouth full to handle and I don't even want to think about mono/*nix support.

This is not going to be a high priority change for us, but if someone sends us a pull-request when we'll evaluate it there and then

[2015-12-08 10:39] dorvan commented on #2142
This and other initializion parts seems are the root of problem of a nancyfx applications hangs and tcp allocation deadlock using owin + https

the the doubled trhead it's initialized,seems, the application answer, hangs up after firsts successfull answers.

there is a couious thread multiplexy by nancy related code after the deadlock of the certificate handshake stream, this can be cused by a ini

[2015-12-08 10:47] khellang commented on #2142
@dorvan Wat? I'm not sure I understood much of that, but could #2113 or #2141 be related? This initialization has nothing to do with threading (or the request pipeline at all), it's just registering modules in the container. I suggest you file a separate issue with a bit more (clearer) information :smile:

[2015-12-08 11:04] #2142 closed

[2015-12-08 21:08] ttgint commented on #1227
Why has this issue been closed ? It would be great to have simple injector which is one of the fastest DI containers. What @dotnetjunkie is suggesting makes perfect sense to me. Don't understand why you guys let this discussion die. Let's reach a consensus on this issue please.

[2015-12-08 21:18] khellang commented on #1227
@ttgint The consensus is that with the way Nancy is built currently, there's no way to achieve this. Nancy relies on being able to "register, resolve and then register again" in order for its plugin architecture to work. AFAIK, Simple Injector is the only container (we've heard of) that have failed to comply with this requirement.

Nancy is also not the only web framework SI is incompatible with.

[2015-12-08 21:23] ttgint commented on #1227
Fair enough @khellang cheers for the quick reply!

[2015-12-08 22:30] khellang commented on #1383
Closed by #1431

[2015-12-08 22:30] #1383 closed

[2015-12-09 06:00] dotnetjunkie commented on #1227
As a matter of fact, we have an alpha release that is compatible with the new CoreCLR bits.

Wow, that's a stab in the back! Simple Injector is perfectly usable with ASP.NET 5, and as discussed [here](https://github.com/simpleinjector/SimpleInjector/issues/41) for instance, you don't need an adapter to do this. And if you read my previous response on this thread, this is precisely what I'm suggest

[2015-12-09 08:07] khellang commented on #1227
And this makes it compatible with MS.Ext.DI? CoreCLR != DNX :smile:

Is it? If you fail to support any of the FOSS web frameworks out there, how is this not true? You think people will use something that's not supported? It's only my two cents.

Ah, so you have two containers composing your app? I must be mistaken, since other containers have adapters. I stand corrected.

We would absolutely consi

[2015-12-09 08:19] cemremengu commented on #1227
I guess we let @thecodejunkie have his PR and see what he can do on this issue given the recent changes he has been working on while the core guys focus on more important issues.

[2015-12-09 08:43] thecodejunkie commented on #1227
Hi,

We'll gladly review any pull-request you guys send in. I will, however, raise your attention to the fact that any change at this level needs to be * firmly*  verified with our existing `Bootstrapper` implementations before we would consider pulling anything in. I'll be honest here, this is not something we're currently going to prioritise doing ourselves, due to time constraints and having ou

[2015-12-09 08:53] dotnetjunkie commented on #1227
Great; let me see what I can come up with. I'm glad you're not discarding a design with `IModuleFactory` per definition.

[2015-12-09 08:57] khellang commented on #1227
The concept has just never been needed, since Nancy has always been an IoC-first framework. It relies on the container to do all composition. Nancy has never been a framework for "Pure DI"-people :smile:

[2015-12-09 09:07] khellang commented on #2147
@nicholas-brooks I think we ended up with @jugglingnutcase pulling out the code to https://github.com/jugglingnutcase/Nancy.EmbeddedContent and pushing a separate NuGet package. We never got as far as pushing an "official" package, and I'm not sure we will. We'd rather see the community own it :smile:

[2015-12-09 09:07] #2147 closed

[2015-12-09 09:07] jchannon commented on #1959
UPDATE : I ditched my branch as it got too big and we plan to move to dnx in smaller stages. At time of writing we already have a couple of PRs to change the repo structure and have csproj and project.json side by side in the short term

[2015-12-09 09:10] khellang commented on #2147
That said, we do still have the code sitting in the repository, and when porting to project.json (#2155), we'll automatically create a NuGet package for it. Maybe we should discuss if we want to continue this here, or just kill it in favor of @jugglingnutcase's version?

[2015-12-09 09:11] khellang commented on #2126
Did we reach a consensus here?

[2015-12-09 09:17] khellang commented on #2112
Yeah, I have no idea why it's this way. It's all wrapped in a try catch [here](https://github.com/NancyFx/Nancy/blob/master/src/Nancy.Authentication.Stateless/StatelessAuthentication.cs#L77-L85).

It looks like this landed as part of #674. @bsommardahl, time to drag out the time machine and ask 2012 yourself about this?

@JoaoRXFernandes If you want to send a pull request, we'd :heart: to take a l

[2015-12-09 09:32] khellang commented on #2072
Hey @vercruysb! We're in the midst of moving all configuration over to a new model (see #2125), so this is not really the best time to add this. I can ping you when we have the new model in place, and we can take a look at it then :smile:

[2015-12-09 11:57] jugglingnutcase commented on #2147
I never ended up pushing this to NuGet, but I'd be happy to if you think anyone else would use this.

[2015-12-09 12:18] bsommardahl commented on #2112
@khellang I'll happily take a look when I get to the office.

[2015-12-09 12:19] khellang commented on #2112
:+1:

[2015-12-09 12:34] nicholas-brooks commented on #2147
Thanks for taking the time to reply gents.

Just reading through @jugglingnutcase repo; I'm not stuck on 4.0 so might just look at `Microsoft.Owin.StaticFiles` (which I wasn't aware of).

Would it be worthwhile removing `Nancy.EmbeddedContent` from core and pointing any future devs to @jugglingnutcase repo?  I'm happy to write a wiki page about embedding non-view resources using Microsoft.Owin.Sta

[2015-12-09 12:36] khellang commented on #2147
Yes, that's what I was thinking. We're keeping it for now (while porting to project.json). Will revisit this when the dust settles...

[2015-12-09 14:37] alexsaare commented on #2126
Yes. IRequestStartup provides what I was looking for.

Thanks again.

[2015-12-09 14:55] dotnetjunkie commented on #1227
I'm not sure whether I missed something before, or whether some things have changed with Nancy since the last time I looked at it. However, as far as I can see now, the right abstractions are already in place to plugin Simple Injector, or use Pure DI without being forced in a registration API (a.k.a. Conforming Container). So I don't have to do any PR. I'll paste the code below and I would like th

[2015-12-09 15:45] #2126 closed

[2015-12-09 17:09] kylebjones commented on #2122
Hello,

I just started working with Nancy and I am getting this error every time I bind a model to my views, doesn't matter the size.  Any idea when this fix will be pushed out to a new Nuget package?  I am currently running the latest 1.4.2.

Thanks

[2015-12-09 17:26] aryelfnd opened #2157 "RequestStream's AsString() extension modifies stream position"
If you use the AsString() extension to get the textual representation of a request's body...

[code]

...the RequestStream position gets left at the end of the stream because the StreamReader being used by the extension reads the stream until the end...

[code]

...but doesn't update the position back to the initial one.

It can get confusing if you try to read again from Request.Body afterwards.

[2015-12-10 21:01] jchannon commented on #2157
LGTM, do you want to add a PR for it? Only thing I would say is double check we dont already have a test fixture already in this area. Thanks :+1:

[2015-12-10 21:29] jchannon opened #2160 "v2 Requirements"
As @thecodejunkie has put in his [blog](http://thecodejunkie.com/2015/11/08/our-plans-for-nancy-1-x-and-beyond/) we have plans for v2 and we need to document what we **want** and **need** to achieve this goal. This will then lead onto CoreCLR #1959 compatibility

**NEED!**
- [ ] Unified configuration API #2000
- [x] Replace internal TPL async code to `async\await` #2105
- [ ] Instance based AppDom

[2015-12-11 09:30] MingYueGuWo opened #2161 "The httpcontext.curren will be null when using nancy in a existed asp.net application"
When using nancy in an existed asp.net application(.net 4.0).
If the build mode is "Debug", it seems everything is OK.

but when switching build mode to "Release". the HttpContext.Current is always be null.

I'm not sure if I need some other configurations.

Thanks. this is the first time I speak here.

[2015-12-11 09:39] khellang commented on #2161
`HttpContext.Current` has *nothing* to do with Nancy. Nancy doesn't even use it. There's an equivalent `NancyContext` that's used throughout a Nancy application.

[2015-12-11 09:39] #2161 closed

[2015-12-11 11:35] tbdbj opened #2162 "routing '+' character bug"
# Normal
[code]
**Request:**
http://localhost:20000/products/**Notepad++**/1.0.0.0/resolve

**Result:**
Get["/products/{Product}/{Version}/resolve"] = _parameters =>...

# Greedy
[code]

**Request:**
http://localhost:20000/products/**Notepad++**/1.0.0.0/resolve

**Result:**
No response.

[2015-12-11 11:55] jchannon commented on #1227
Strangely, I've decided to play around a PureDI approach today and I found the way to go forward is to implement my own `INancyModuleCatalog`. `GetAllModules` is I believe to tell the app about all the routes in all the modules. `GetModule` is called on the request and then the `ModuleBuilder` adds the `Context,ModelValidator` etc to the `INancyModule`

[2015-12-11 11:58] khellang commented on #2162
Related to #1154, #1280, #1676 and #1678.

[2015-12-11 12:00] khellang commented on #2162
@tbdbj what host are you using?

[2015-12-11 12:52] tbdbj commented on #2162
MS.OWIN.Host.HttpListener
SelfHosting Kotana

[2015-12-11 14:10] damianh commented on #2162
This is probably [unresolveable](https://github.com/NancyFx/Nancy/issues/1280#issuecomment-143021279)

How other people do it: https://chocolatey.org/packages/notepadplusplus

[2015-12-11 15:02] MingYueGuWo commented on #2161
Hi khellang,
you are absolutely right. i just wonder,
why Debug and release mode can affect nancy. from my knowledge it should be keep same behavior, if i cannot access httpcontext.curent, it should be the nancy handler is in another thread. i just want to know how nancy works here.

as i said currently my project is running under asp.net. and i want to rewrite it by nancy for some part of it. if

[2015-12-11 15:27] tbdbj commented on #2162
Kotana successfuly decoded it.
IOwinContext _context;
 _context.Request.Path.Value: '/products/Notepad++/1.0.0.0/resolve'
google chrome send correct request:
_context.Request.Path.ToString():
 /products/Notepad%2B%2B/1.0.0.0/resolve

Why probably?
In my case I can manually split incoming Request.Path, but it will looks like dirty hack...

[2015-12-11 16:15] tbdbj commented on #2162
In general case yes. But there are many cases with constraints when it solvable.
If in the segments (char sequency between '/') diassalow "%2F" every will works fine.
So routing {a}/{b}%2F{c} ~ {a}/{b}/{c} with constaint a && b && c doesn't contains '/' or "%2F".

[2015-12-12 07:16] dorvan commented on #2160
what about an internal deadlock fencing algorithm?

[2015-12-13 02:55] luisrudge commented on #1574
I'm having this issue as well :( Even when I blacklist the property, it still fails to bind

[2015-12-13 08:46] phillip-haydon commented on #1574
Binding to an abstract class???  Stop that. We don't create proxy objects for binding to.

[2015-12-14 00:30] luisrudge commented on #1574
I'm binding to a concrete class which has a property with an abstract type as it's type. I'm trying to ignore this property, but it doesn't work.

[2015-12-14 08:47] wilhen01 commented on #1574
@phillip-haydon I think my original post illustrates a perfectly legitimate example. As pointed out by @luisrudge we're actually trying to ignore the abstract type, not bind to it. Blacklisting properties shouldn't be dependent on their modifiers.

[2015-12-14 13:54] jasonmead commented on #2061
So I gave this a shot this weekend:

https://github.com/jasonmead/Nancy/tree/SimpleJsonSpike

I had a few goals:
- Limit the changes to SimpleJson.cs to allow for easier upgrading to future versions
- Limit the changes to the Nancy.Json namespace so it didn't spider all over the place.

I made it most of the way, but ran into a few issues. Most of them are related to the differences between how Si

[2015-12-14 14:12] thecodejunkie commented on #2061
@jasonmead can you send it as a PR? Easier to review since we can leave comments on it

[2015-12-14 14:23] jasonmead commented on #2061
Done. Please note that this is definitely not complete.

https://github.com/NancyFx/Nancy/pull/2163

[2015-12-15 06:17] phillip-haydon commented on #1574
@wilhen01 ok, I understand now, I was in hospital reading through my Nancy emails so I didn't fully understand the initial problem.

This MAY be solved with #2061

[2015-12-15 11:24] monster1025 opened #2164 "Memory Leak on Nancy (Owin + HttpListener hosted)."
Here is sample project,info how to reproduce the leak and my configuration:
https://github.com/monster1025/NancyMemoryLeakTest

[2015-12-15 11:28] khellang commented on #2164
This is a dupe of #2113 and was fixed with 1.4.2 :smile:

[2015-12-15 11:28] #2164 closed

[2015-12-15 11:31] monster1025 commented on #2164
Oh, sorry: saw this issue, but didn't check my version :) Thx!

[2015-12-15 11:32] monster1025 commented on #2164
Oh, thx a lot for a fast answer! :) Will update!)

[2015-12-15 11:33] khellang commented on #2164
:+1: It would be awesome if you reported back, just to make sure :grin:

[2015-12-15 11:37] monster1025 commented on #2164
Updated and re-checked: now all great, no leaks!

[2015-12-16 00:24] dwonisch opened #2165 "NullReferenceException when Razor Partial View was not found"
When I use HtmlHelpers<T>.Partial method to locate a view that is not available, I would get a NullReferenceException.
But when I use a non existing view in Module by calling `return View["ViewName"]` I would get a ViewNotFoundException.

Furthermore by throwing the NullReferenceException, an error message is shown, that possibly the Model or one of it's properties could be null, leading to a wron

[2015-12-16 11:38] khellang commented on #2160
What does this even mean? :confused:

[2015-12-16 11:45] khellang commented on #2165
Closed by #2166

[2015-12-16 11:45] #2165 closed

[2015-12-16 11:55] #2157 closed

[2015-12-17 00:24] dwonisch opened #2167 "Permormance Issues using RazorViewEngine-Partial"
There seems to be a huge performance issue using many Partials on one Page.

I have created a [sample application](https://github.com/dwonisch/NancyPerformanceTest) to explain what I exactly mean.
The application has two views, both showing the same data. The plain view, using foreach loops, loads for about 5 ms. The view using partials is taking about 250 ms (even on Release build, still over 60